workflow_v2/ultra_final_from_server.json
{"updatedAt": "2026-04-28T16:14:40.000Z", "createdAt": "2026-04-15T21:56:02.783Z", "id": "PPEqeFBIBV19CEds", "name": "CH-spa ULTRA FINAL v3 - работает", "description": null, "active": false, "isArchived": true, "nodes": [{"parameters": {"updates": ["message", "callback_query"], "additionalFields": {}}, "id": "d7a609d4-ab6c-40ff-8e4d-5cba6bd40746", "name": "Telegram Trigger", "type": "n8n-nodes-base.telegramTrigger", "typeVersion": 1, "position": [-784, 592], "webhookId": "31b5b391-710e-490c-8a67-ca6577079ef0", "credentials": {"telegramApi": {"id": "mMWjCEIMAWSDgVY1", "name": "Telegram account"}}}, {"parameters": {"jsCode": "const normalizeBaseUrl = (value) => {\n  const raw = String(value || '').trim();\n  if (!raw) return '';\n  return raw.replace(/\\/rest\\/v1\\/?$/i, '').replace(/\\/+$/,'');\n};\n\nconst input = $input.first()?.json || {};\n\n// ВСТАВЬ СЮДА РЕАЛЬНЫЕ ЗНАЧЕНИЯ\nconst supabaseUrl = normalizeBaseUrl('https://YOUR_PROJECT.supabase.co');\nconst supabaseKey = String('YOUR_SUPABASE_SERVICE_ROLE_KEY').trim();\nconst subscriptionUrl = String('https://t.me/SkrabVarezkaPiling').trim();\nconst ykShopId = String('YOUR_YOOKASSA_SHOP_ID').trim();\nconst ykSecret = String('YOUR_YOOKASSA_SECRET_KEY').trim();\nconst paymentReturnUrl = String('https://YOUR_DOMAIN/thanks').trim();\nconst managersGroupChatId = String('-1003989386408').trim();\nconst adminUserId = String('7260765133').trim();\n\nconst config = {\n  SUPABASE_URL: supabaseUrl,\n  SUPABASE_REST_URL: supabaseUrl ? `${supabaseUrl}/rest/v1` : '',\n  SUPABASE_SERVICE_ROLE_KEY: supabaseKey,\n  SUPABASE_CONFIGURED: !!(\n    supabaseUrl &&\n    !supabaseUrl.includes('YOUR_PROJECT') &&\n    supabaseKey &&\n    !supabaseKey.includes('YOUR_SUPABASE')\n  ),\n\n  SUBSCRIPTION_URL: subscriptionUrl,\n  MANAGERS_GROUP_CHAT_ID: managersGroupChatId,\n  ADMIN_USER_ID: adminUserId,\n\n  PAYMENT_PROVIDER: 'yookassa',\n  YOOKASSA_SHOP_ID: ykShopId,\n  YOOKASSA_SECRET_KEY: ykSecret,\n  PAYMENT_RETURN_URL: paymentReturnUrl,\n  PAYMENT_CURRENCY: 'RUB',\n  PAYMENTS_CONFIGURED: !!(\n    ykShopId &&\n    !ykShopId.includes('YOUR_YOOKASSA') &&\n    ykSecret &&\n    !ykSecret.includes('YOUR_YOOKASSA') &&\n    paymentReturnUrl &&\n    !paymentReturnUrl.includes('YOUR_DOMAIN')\n  ),\n\n  UPSELL_STANDARD_KEY: 'upsell_standard',\n  UPSELL_STANDARD_LABEL: 'Апгрейд CH-spa',\n  UPSELL_STANDARD_AMOUNT: 1990,\n  UPSELL_STANDARD_PRICE_LABEL: '1990 ₽',\n\n  WARMUP_ENABLED: true\n};\n\nreturn [{\n  json: {\n    ...input,\n    ...config,\n    app_config: config,\n    raw: input.raw || input\n  }\n}];"}, "id": "d09a4a84-931d-46f0-8fb6-e1bad2013503", "name": "App Config", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [-656, 592]}, {"parameters": {"jsCode": "const store = $getWorkflowStaticData('global');\nstore.users = store.users || {};\nstore.submissions = store.submissions || {};\nstore.payments = store.payments || {};\nstore.events = store.events || [];\n\nconst appConfig = $items('App Config', 0, 0)[0]?.json?.app_config || $items('App Config', 0, 0)[0]?.json || {};\n\nfor (const item of items) {\n  const raw = item.json.raw || item.json;\n  const msg = raw.message || item.json.message || {};\n  const cb = raw.callback_query || item.json.callback_query || {};\n  const from = msg.from || cb.from || {};\n  const chatId = msg.chat?.id || cb.message?.chat?.id || from.id || null;\n  const key = chatId !== null ? String(chatId) : null;\n  const text = msg.text || '';\n  const callbackData = cb.data || '';\n  const hasPhoto = Array.isArray(msg.photo) && msg.photo.length > 0;\n  const contact = msg.contact || {};\n  const phoneFromText = text && /^\\+?\\d[\\d\\s\\-()]{8,}$/.test(text.trim()) ? text.replace(/[^\\d+]/g, '') : '';\n\n  if (key) {\n    const existing = store.users[key] || {};\n    store.users[key] = {\n      chatId,\n      username: from.username || existing.username || '',\n      firstName: from.first_name || existing.firstName || '',\n      lastName: from.last_name || existing.lastName || '',\n      phone: contact.phone_number || phoneFromText || existing.phone || '',\n      state: existing.state || 'new',\n      previousState: existing.previousState || 'new',\n      selectedLevelKey: existing.selectedLevelKey || '',\n      selectedLevelLabel: existing.selectedLevelLabel || '',\n      giftValue: existing.giftValue || 0,\n      lastPhoto: existing.lastPhoto || null,\n      lastSubmissionId: existing.lastSubmissionId || null,\n      lastApprovedSubmissionId: existing.lastApprovedSubmissionId || null,\n      currentFlow: existing.currentFlow || 'purchase',\n      currentReviewId: existing.currentReviewId || null,\n      giftsUnlocked: existing.giftsUnlocked || false,\n      createdAt: existing.createdAt || new Date().toISOString(),\n      updatedAt: new Date().toISOString(),\n      lastSeenAt: new Date().toISOString(),\n      lastMessageText: text || existing.lastMessageText || '',\n      lastCallbackData: callbackData || existing.lastCallbackData || '',\n      stepLabel: existing.stepLabel || '',\n      source: existing.source || 'telegram'\n    };\n\n    item.json.crm = {\n      telegram_user_id: from.id || null,\n      telegram_chat_id: chatId,\n      username: from.username || '',\n      first_name: from.first_name || '',\n      last_name: from.last_name || '',\n      phone_raw: contact.phone_number || phoneFromText || '',\n      phone_normalized: contact.phone_number || phoneFromText || '',\n      state: store.users[key].state,\n      previous_state: store.users[key].previousState,\n      current_flow: store.users[key].currentFlow,\n      selected_package_key: store.users[key].selectedLevelKey,\n      selected_package_label: store.users[key].selectedLevelLabel,\n      selected_package_gift_value: store.users[key].giftValue,\n      gifts_unlocked: store.users[key].giftsUnlocked,\n      updated_at: new Date().toISOString(),\n      last_seen_at: new Date().toISOString()\n    };\n  }\n\n  item.json.raw = raw;\n  item.json.message = msg;\n  item.json.callback_query = cb;\n  item.json.telegram_chat_id = chatId;\n  item.json.telegram_user_id = from.id || null;\n  item.json.app_config = appConfig;\n\n  store.events.push({\n    at: new Date().toISOString(),\n    chatId,\n    text,\n    callbackData,\n    hasPhoto,\n    hasContact: !!contact.phone_number\n  });\n}\n\nif (store.events.length > 5000) store.events = store.events.slice(-5000);\nreturn items;"}, "id": "4663e3d6-a2ef-4957-a480-ea4cd698a571", "name": "Upsert User", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [-544, 592]}, {"parameters": {"mode": "expression", "numberOutputs": 25, "output": "={{ (() => {\n  const text = String($json.message?.text || '').trim();\n  const cb = String($json.callback_query?.data || '');\n  const hasPhoto = Array.isArray($json.message?.photo) && $json.message.photo.length > 0;\n  const hasDocument = !!$json.message?.document;\n  const hasContact = !!$json.message?.contact?.phone_number;\n  const fromId = String(\n    $json.message?.from?.id ||\n    $json.callback_query?.from?.id ||\n    ''\n  );\n\n  const adminId = String(\n    $json.app_config?.ADMIN_USER_ID ||\n    '7260765133'\n  );\n\n  const crm = $json.crm || {};\n  const state = String(crm.state || 'new');\n\n  if (text.startsWith('/start')) return 0;\n\n  if (cb === 'START_PURCHASE' || cb === 'START_FLOW' || text === '🎁 Получить бонусы') return 1;\n\n  if (cb === 'SUB_CONFIRMED') return 2;\n\n  if (hasContact) return 3;\n\n  if (text === '1 варежка (3000 руб.)') return 4;\n  if (text === '1+2 варежки (7000 руб.)') return 5;\n  if (text === 'VIP: 1+2+5 варежек (11000 руб.)') return 6;\n\n  if ((hasPhoto || hasDocument) && (state === 'awaiting_photo' || state === 'awaiting_purchase_photo')) return 7;\n\n  if (cb.startsWith('APPROVE_PURCHASE|') || cb.startsWith('APPROVE|')) return 8;\n  if (cb.startsWith('REJECT_PURCHASE|') || cb.startsWith('REJECT|')) return 9;\n\n  if (cb === 'START_REVIEW' || text === '⭐ Оставить отзыв') return 10;\n\n  if (\n    cb === 'MARKETPLACE_WB' ||\n    cb === 'MARKETPLACE_OZON' ||\n    cb === 'MARKETPLACE_YM' ||\n    cb === 'MARKETPLACE_OTHER'\n  ) return 11;\n\n  if ((hasPhoto || hasDocument) && state === 'awaiting_review_screenshot') return 12;\n  if ((hasPhoto || hasDocument) && state === 'awaiting_review_product_photo') return 13;\n\n  if (cb.startsWith('APPROVE_REVIEW|')) return 14;\n  if (cb.startsWith('REJECT_REVIEW|')) return 15;\n\n  if (text === '📍 Мой статус' || text === '/status') return 16;\n\n  if (text === '⬅️ Назад' || text === '/back') return 17;\n\n  if (text === '▶️ Продолжить' || text === '/continue') return 18;\n\n  if (text === '🔄 Начать заново' || text === '/reset') return 19;\n\n  if (text === '💬 Помощь' || text === '/help') return 20;\n\n  if (fromId === adminId && text === '/export_users') return 21;\n\n  if (\n    fromId === adminId &&\n    (\n      /^\\/broadcast\\b/.test(text) ||\n      text === '/stats' ||\n      /^\\/user\\b/.test(text)\n    )\n  ) return 22;\n\n  if (cb === 'UPSELL_YES' || cb === 'BUY_UPSELL_STANDARD' || text === '🔥 Увеличить подарок') return 23;\n\n  if (cb === 'UPSELL_NO' || text === '❌ Нет, спасибо') return 24;\n\n  return 20;\n})() }}"}, "id": "04d41491-b558-455f-abcc-93194797a3cb", "name": "Router", "type": "n8n-nodes-base.switch", "typeVersion": 3.2, "position": [-288, 592]}, {"parameters": {"jsCode": "\nconst store = $getWorkflowStaticData('global');\nstore.users = store.users || {};\nconst chatId = $json.message.chat.id;\nconst key = String(chatId);\nconst user = store.users[key] || { chatId };\nuser.previousState = user.state || 'new';\nuser.state = 'start';\nuser.stepLabel = 'Главное меню';\nuser.updatedAt = new Date().toISOString();\nstore.users[key] = user;\nreturn [{ json: { chatId } }];\n"}, "id": "22f9df86-13b1-440d-8d5f-13024ab507e2", "name": "Set Start State", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [0, 0]}, {"parameters": {"chatId": "={{ $json.chatId }}", "text": "={{ 'Привет! 👋\\n\\nЗдесь можно быстро получить бонусы за покупку.\\nНужно всего 4 шага:\\n1. Подписка на группу\\n2. Контакт в Telegram\\n3. Выбор пакета\\n4. Фото товара или скрин заказа\\n\\nНажми кнопку ниже, чтобы начать 👇' }}", "replyMarkup": "inlineKeyboard", "inlineKeyboard": {"rows": [{"row": {"buttons": [{"text": "🎁 Получить бонусы", "additionalFields": {"callback_data": "START_PURCHASE"}}]}}]}, "additionalFields": {"appendAttribution": false, "disable_web_page_preview": true}}, "id": "2321e5fc-4155-4cfb-8dca-9a1451aee266", "name": "Start Welcome", "type": "n8n-nodes-base.telegram", "typeVersion": 1, "position": [240, 0], "webhookId": "f48c0359-d5f5-4310-be42-4743c7576396", "credentials": {"telegramApi": {"id": "mMWjCEIMAWSDgVY1", "name": "Telegram account"}}}, {"parameters": {"jsCode": "\nconst store = $getWorkflowStaticData('global');\nstore.users = store.users || {};\nconst chatId = $json.callback_query?.message?.chat?.id || $json.message?.chat?.id;\nconst key = String(chatId);\nconst user = store.users[key] || { chatId };\nuser.previousState = user.state || 'start';\nuser.state = 'awaiting_subscription';\nuser.stepLabel = 'Подписка на группу';\nuser.updatedAt = new Date().toISOString();\nstore.users[key] = user;\nreturn [{ json: { chatId } }];\n"}, "id": "621b3b7a-ff76-42f9-89eb-afbf448e7bb0", "name": "Mark Awaiting Subscription", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [0, 112]}, {"parameters": {"chatId": "={{ $json.chatId }}", "text": "={{ 'Шаг 1 из 4.\\n\\nПодпишись на нашу группу и нажми\\n«Я подписался» 👇' }}", "replyMarkup": "inlineKeyboard", "inlineKeyboard": {"rows": [{"row": {"buttons": [{"text": "Подписаться на группу", "additionalFields": {"url": "={{ $json.app_config?.SUBSCRIPTION_URL || 'https://t.me/SkrabVarezkaPiling' }}"}}]}}, {"row": {"buttons": [{"text": "Я подписался", "additionalFields": {"callback_data": "SUB_CONFIRMED"}}]}}]}, "additionalFields": {"appendAttribution": false, "disable_web_page_preview": true, "parse_mode": "HTML"}}, "id": "14ff955a-0277-4459-9349-c49fb2b5e60f", "name": "Ask Subscription", "type": "n8n-nodes-base.telegram", "typeVersion": 1, "position": [240, 112], "webhookId": "3c7d172e-c4e9-490f-9e7c-7ce379a16689", "credentials": {"telegramApi": {"id": "mMWjCEIMAWSDgVY1", "name": "Telegram account"}}}, {"parameters": {"jsCode": "\nconst store = $getWorkflowStaticData('global');\nstore.users = store.users || {};\nconst chatId = $json.callback_query.message.chat.id;\nconst key = String(chatId);\nconst user = store.users[key] || { chatId };\nuser.previousState = user.state || 'awaiting_subscription';\nuser.state = 'awaiting_contact';\nuser.stepLabel = 'Ожидаем контакт';\nuser.updatedAt = new Date().toISOString();\nstore.users[key] = user;\nreturn [{ json: { chatId } }];\n"}, "id": "69f96bbd-6f71-45e0-b81e-a62321b593aa", "name": "Mark Awaiting Contact", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [0, 224]}, {"parameters": {"chatId": "={{ $json.chatId }}", "text": "={{ 'Шаг 2 из 4.\\n\\nНажми кнопку ниже и отправь контакт в Telegram.\\nЭто займёт 1 секунду 👇' }}", "replyMarkup": "replyKeyboard", "replyKeyboard": {"rows": [{"row": {"buttons": [{"text": "📱 Отправить контакт", "additionalFields": {"request_contact": true}}]}}, {"row": {"buttons": [{"text": "⬅️ Назад", "additionalFields": {}}, {"text": "💬 Помощь", "additionalFields": {}}]}}]}, "replyKeyboardOptions": {"resize_keyboard": true, "one_time_keyboard": true}, "additionalFields": {"appendAttribution": false, "disable_web_page_preview": true, "parse_mode": "HTML"}}, "id": "57f5e783-52d8-412b-85a4-ef042a7c0225", "name": "Ask Contact", "type": "n8n-nodes-base.telegram", "typeVersion": 1, "position": [240, 224], "webhookId": "ad9ee1f5-6f65-4ef6-baa2-3cd170b2d8ba", "credentials": {"telegramApi": {"id": "mMWjCEIMAWSDgVY1", "name": "Telegram account"}}}, {"parameters": {"jsCode": "const store = $getWorkflowStaticData('global');\nstore.users = store.users || {};\n\nconst chatId = $json.message?.chat?.id;\nconst contact = $json.message?.contact || {};\nconst phone = contact.phone_number || '';\n\nif (!chatId) {\n  throw new Error('chatId not found');\n}\n\nif (!phone) {\n  throw new Error('Contact not found. User must press request_contact button.');\n}\n\nconst key = String(chatId);\nconst user = store.users[key] || { chatId };\n\nuser.phone = phone;\nuser.previousState = user.state || 'awaiting_contact';\nuser.state = 'awaiting_package';\nuser.stepLabel = 'Выбор пакета';\nuser.updatedAt = new Date().toISOString();\n\nstore.users[key] = user;\n\nreturn [{\n  json: {\n    ...$json,\n    chatId,\n    phone,\n    contact_received: true\n  }\n}];"}, "id": "fcc25504-2528-4f62-b40e-3c229329b3e1", "name": "Save Contact", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [0, 352]}, {"parameters": {"chatId": "={{ $json.chatId }}", "text": "={{ 'Шаг 3 из 4.\\n\\nВыбери свой пакет покупки 👇' }}", "replyMarkup": "replyKeyboard", "replyKeyboard": {"rows": [{"row": {"buttons": [{"text": "1 варежка (3000 руб.)", "additionalFields": {}}]}}, {"row": {"buttons": [{"text": "1+2 варежки (7000 руб.)", "additionalFields": {}}]}}, {"row": {"buttons": [{"text": "VIP: 1+2+5 варежек (11000 руб.)", "additionalFields": {}}]}}, {"row": {"buttons": [{"text": "⬅️ Назад", "additionalFields": {}}, {"text": "📍 Мой статус", "additionalFields": {}}]}}]}, "replyKeyboardOptions": {"resize_keyboard": true, "one_time_keyboard": true}, "additionalFields": {"appendAttribution": false, "disable_web_page_preview": true, "parse_mode": "HTML"}}, "id": "c7cc3127-f10c-4ca7-afc5-35e9fcabf3a9", "name": "Ask Package", "type": "n8n-nodes-base.telegram", "typeVersion": 1, "position": [240, 352], "webhookId": "8c60d8e6-b91c-40a1-a93b-f806e1933f4a", "credentials": {"telegramApi": {"id": "mMWjCEIMAWSDgVY1", "name": "Telegram account"}}}, {"parameters": {"jsCode": "\nconst store = $getWorkflowStaticData('global');\nstore.users = store.users || {};\nconst chatId = $json.message.chat.id;\nconst key = String(chatId);\nconst user = store.users[key] || { chatId };\nuser.previousState = user.state || 'awaiting_package';\nuser.state = 'awaiting_photo';\nuser.selectedLevelKey = 'standard';\nuser.selectedLevelLabel = '1 варежка (3000 руб.)';\nuser.giftValue = 3000;\nuser.stepLabel = 'Ожидаем фото';\nuser.updatedAt = new Date().toISOString();\nstore.users[key] = user;\nreturn [{ json: { chatId, levelKey: 'standard', levelLabel: '1 варежка (3000 руб.)', giftValue: 3000 } }];\n"}, "id": "bbd097c0-d83f-4c5f-b195-6503b3b1fa02", "name": "Save Package Standard", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [0, 464]}, {"parameters": {"jsCode": "\nconst store = $getWorkflowStaticData('global');\nstore.users = store.users || {};\nconst chatId = $json.message.chat.id;\nconst key = String(chatId);\nconst user = store.users[key] || { chatId };\nuser.previousState = user.state || 'awaiting_package';\nuser.state = 'awaiting_photo';\nuser.selectedLevelKey = 'premium';\nuser.selectedLevelLabel = '1+2 варежки (7000 руб.)';\nuser.giftValue = 7000;\nuser.stepLabel = 'Ожидаем фото';\nuser.updatedAt = new Date().toISOString();\nstore.users[key] = user;\nreturn [{ json: { chatId, levelKey: 'premium', levelLabel: '1+2 варежки (7000 руб.)', giftValue: 7000 } }];\n"}, "id": "fd70edbf-b5da-44ed-a537-df315cb4a7d8", "name": "Save Package Premium", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [0, 528]}, {"parameters": {"jsCode": "\nconst store = $getWorkflowStaticData('global');\nstore.users = store.users || {};\nconst chatId = $json.message.chat.id;\nconst key = String(chatId);\nconst user = store.users[key] || { chatId };\nuser.previousState = user.state || 'awaiting_package';\nuser.state = 'awaiting_photo';\nuser.selectedLevelKey = 'vip';\nuser.selectedLevelLabel = 'VIP: 1+2+5 варежек (11000 руб.)';\nuser.giftValue = 11000;\nuser.stepLabel = 'Ожидаем фото';\nuser.updatedAt = new Date().toISOString();\nstore.users[key] = user;\nreturn [{ json: { chatId, levelKey: 'vip', levelLabel: 'VIP: 1+2+5 варежек (11000 руб.)', giftValue: 11000 } }];\n"}, "id": "ebfd0a2a-a589-4312-aeaa-6190b5c27395", "name": "Save Package VIP", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [0, 592]}, {"parameters": {"chatId": "={{ $json.chatId }}", "text": "={{ 'Шаг 4 из 4.\\n\\nОтправь фото товара, упаковки\\nили скрин заказа 👇' }}", "replyMarkup": "replyKeyboard", "replyKeyboard": {"rows": [{"row": {"buttons": [{"text": "🎁 Получить бонусы", "additionalFields": {}}, {"text": "▶️ Продолжить", "additionalFields": {}}]}}, {"row": {"buttons": [{"text": "📍 Мой статус", "additionalFields": {}}, {"text": "⬅️ Назад", "additionalFields": {}}]}}, {"row": {"buttons": [{"text": "🔄 Начать заново", "additionalFields": {}}, {"text": "💬 Помощь", "additionalFields": {}}]}}]}, "replyKeyboardOptions": {"resize_keyboard": true}, "additionalFields": {"appendAttribution": false, "disable_web_page_preview": true, "parse_mode": "HTML"}}, "id": "1c7d29ae-f3ce-4a30-93c3-bb23325d77dd", "name": "Ask For Photo", "type": "n8n-nodes-base.telegram", "typeVersion": 1, "position": [240, 528], "webhookId": "1e24be35-b343-40dc-8f1f-b6c025a0f200", "credentials": {"telegramApi": {"id": "mMWjCEIMAWSDgVY1", "name": "Telegram account"}}}, {"parameters": {"jsCode": "const store = $getWorkflowStaticData('global');\nstore.users = store.users || {};\n\nconst msg = $json.message || {};\nconst chatId = msg.chat?.id;\n\nif (!chatId) {\n  throw new Error('chatId not found');\n}\n\nconst photos = Array.isArray(msg.photo) ? msg.photo : [];\nconst bestPhoto = photos.length ? photos[photos.length - 1] : null;\n\nconst doc = msg.document || null;\nconst docMime = String(doc?.mime_type || '').toLowerCase();\nconst docName = String(doc?.file_name || '').toLowerCase();\nconst isImageDocument =\n  !!doc &&\n  (\n    docMime.startsWith('image/') ||\n    docName.endsWith('.jpg') ||\n    docName.endsWith('.jpeg') ||\n    docName.endsWith('.png') ||\n    docName.endsWith('.webp')\n  );\n\nconst fileId =\n  bestPhoto?.file_id ||\n  (isImageDocument ? doc.file_id : null);\n\nif (!fileId) {\n  throw new Error('Photo or image document not found in message');\n}\n\nconst key = String(chatId);\nconst user = store.users[key] || { chatId };\n\nuser.lastPhoto = {\n  fileId,\n  fileUniqueId: bestPhoto?.file_unique_id || doc?.file_unique_id || '',\n  sourceType: bestPhoto ? 'message.photo' : 'message.document',\n  savedAt: new Date().toISOString()\n};\n\nuser.previousState = user.state || 'awaiting_photo';\nuser.state = 'waiting_review';\nuser.stepLabel = 'Фото получено';\nuser.updatedAt = new Date().toISOString();\n\nstore.users[key] = user;\n\nreturn [{\n  json: {\n    ...$json,\n    chatId,\n    photoFileId: fileId,\n    uploadType: bestPhoto ? 'message.photo' : 'message.document'\n  }\n}];"}, "id": "f2c1ceff-5f90-4607-bdd6-bca926787a26", "name": "Save Photo", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [0, 704]}, {"parameters": {"jsCode": "const store = $getWorkflowStaticData('global');\nstore.users = store.users || {};\nstore.submissions = store.submissions || {};\n\nconst chatId = $json.raw?.message?.chat?.id || $json.message?.chat?.id || $json.chatId || $json.crm?.telegram_chat_id;\nconst key = String(chatId);\nconst user = store.users[key] || {};\n\nif (!user.selectedLevelKey || !user.selectedLevelLabel) throw new Error('Сначала нужно выбрать пакет.');\nif (!user.lastPhoto || !user.lastPhoto.fileId) throw new Error('Сначала нужно отправить фото.');\n\nconst submissionId = `s${Date.now().toString(36)}${Math.random().toString(36).slice(2, 6)}`;\nstore.submissions[submissionId] = {\n  submissionId,\n  status: 'pending',\n  userChatId: chatId,\n  username: user.username || '',\n  firstName: user.firstName || '',\n  levelKey: user.selectedLevelKey,\n  levelLabel: user.selectedLevelLabel,\n  giftValue: user.giftValue || 0,\n  phone: user.phone || '',\n  photoFileId: user.lastPhoto.fileId,\n  createdAt: new Date().toISOString()\n};\n\nuser.lastSubmissionId = submissionId;\nuser.updatedAt = new Date().toISOString();\nstore.users[key] = user;\n\nreturn [{\n  json: {\n    submissionId,\n    adminChatId: String($json.app_config?.MANAGERS_GROUP_CHAT_ID || '-1003989386408'),\n    userChatId: chatId,\n    username: user.username || '',\n    firstName: user.firstName || '',\n    phone: user.phone || '',\n    levelKey: user.selectedLevelKey,\n    levelLabel: user.selectedLevelLabel,\n    giftValue: user.giftValue || 0,\n    photoFileId: user.lastPhoto.fileId\n  }\n}];"}, "id": "cbbe78cd-ed76-426d-91c0-3067d4e8e50b", "name": "Prepare Submission", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [0, 832]}, {"parameters": {"chatId": "={{ $json.userChatId }}", "text": "={{ 'Спасибо! Твоя заявка отправлена на проверку менеджеру.\\n\\nСтатус сейчас: <b>на рассмотрении</b>.\\nОбычно проверка занимает 5–30 минут.\\n\\nТы можешь нажать <b>📍 Мой статус</b> в любой момент.' }}", "replyMarkup": "replyKeyboard", "replyKeyboard": {"rows": [{"row": {"buttons": [{"text": "🎁 Получить бонусы", "additionalFields": {}}, {"text": "▶️ Продолжить", "additionalFields": {}}]}}, {"row": {"buttons": [{"text": "📍 Мой статус", "additionalFields": {}}, {"text": "⬅️ Назад", "additionalFields": {}}]}}, {"row": {"buttons": [{"text": "🔄 Начать заново", "additionalFields": {}}, {"text": "💬 Помощь", "additionalFields": {}}]}}]}, "replyKeyboardOptions": {"resize_keyboard": true}, "additionalFields": {"appendAttribution": false, "disable_web_page_preview": true, "parse_mode": "HTML"}}, "id": "5ceb2c07-092d-40f7-b839-e9dbf65684f1", "name": "User Waiting", "type": "n8n-nodes-base.telegram", "typeVersion": 1, "position": [240, 784], "webhookId": "4f2348a1-2839-4958-9e60-c8f1548bee10", "credentials": {"telegramApi": {"id": "mMWjCEIMAWSDgVY1", "name": "Telegram account"}}}, {"parameters": {"operation": "sendPhoto", "chatId": "={{ $json.adminChatId }}", "file": "={{ $json.photoFileId }}", "replyMarkup": "inlineKeyboard", "inlineKeyboard": {"rows": [{"row": {"buttons": [{"text": "✅ Одобрить", "additionalFields": {"callback_data": "={{ 'APPROVE|' + $json.submissionId }}"}}, {"text": "❌ Отклонить", "additionalFields": {"callback_data": "={{ 'REJECT|' + $json.submissionId }}"}}]}}]}, "additionalFields": {"caption": "={{ '<b>Новая заявка CH-spa</b>\\n' +\n'ID: <code>' + $json.submissionId + '</code>\\n' +\n'Пользователь: ' + ($json.username ? '@' + $json.username : ($json.firstName || 'Без имени')) + '\\n' +\n'User ID: <code>' + $json.userChatId + '</code>\\n' +\n'Телефон: <code>' + ($json.phone || '-') + '</code>\\n' +\n'Пакет: <b>' + $json.levelLabel + '</b>\\n' +\n'Подарок: <b>' + ($json.giftValue || 0) + ' руб.</b>' }}", "parse_mode": "HTML"}}, "id": "5893a942-3571-44d9-9389-cd54a52b9523", "name": "Admin Review Photo", "type": "n8n-nodes-base.telegram", "typeVersion": 1, "position": [240, 880], "webhookId": "b51ece3d-8451-4210-9e7f-7ca988d8e84a", "credentials": {"telegramApi": {"id": "mMWjCEIMAWSDgVY1", "name": "Telegram account"}}}, {"parameters": {"jsCode": "const store = $getWorkflowStaticData('global');\nstore.users = store.users || {};\nstore.submissions = store.submissions || {};\n\nconst data = String($json.callback_query?.data || '');\nconst submissionId = data.includes('|') ? data.split('|')[1] : '';\nconst submission = store.submissions[submissionId];\nconst reviewerId = String($json.callback_query?.from?.id || '');\nconst adminId = String($json.app_config?.ADMIN_USER_ID || '7260765133');\n\nif (reviewerId !== adminId) {\n  return [{ json: { chatId: $json.callback_query?.message?.chat?.id, text: 'Недостаточно прав.' } }];\n}\nif (!submission) return [{ json: { chatId: $json.callback_query?.message?.chat?.id, text: 'Заявка не найдена.' } }];\nif (submission.status !== 'pending') return [{ json: { chatId: $json.callback_query?.message?.chat?.id, text: 'Заявка уже обработана.' } }];\n\nsubmission.status = 'approved';\nsubmission.reviewedAt = new Date().toISOString();\nsubmission.reviewerId = reviewerId;\n\nconst userKey = String(submission.userChatId);\nconst user = store.users[userKey] || { chatId: submission.userChatId };\nuser.previousState = user.state || 'waiting_purchase_review';\nuser.state = 'purchase_approved';\nuser.currentFlow = 'review';\nuser.stepLabel = 'Покупка одобрена';\nuser.giftsUnlocked = true;\nuser.lastApprovedSubmissionId = submissionId;\nuser.updatedAt = new Date().toISOString();\nstore.users[userKey] = user;\n\nconst giftsByLevel = {\n  standard: [\n    { title: '🎁 Фейсфитнес mini', url: `https://example.com/facefit?sub=${submissionId}` },\n    { title: '🎁 Йога для тела', url: `https://example.com/yoga?sub=${submissionId}` },\n    { title: '🎁 Уход и сияние', url: `https://example.com/beauty?sub=${submissionId}` }\n  ],\n  premium: [\n    { title: '💎 Пилатес Premium', url: `https://example.com/pilates?sub=${submissionId}` },\n    { title: '💎 Нутри-детокс', url: `https://example.com/nutri?sub=${submissionId}` },\n    { title: '💎 Самооценка и ресурс', url: `https://example.com/mindset?sub=${submissionId}` }\n  ],\n  vip: [\n    { title: '👑 VIP Beauty Reset', url: `https://example.com/vip-beauty?sub=${submissionId}` },\n    { title: '👑 Телесный антистресс', url: `https://example.com/body-reset?sub=${submissionId}` },\n    { title: '👑 Энергия и женственность', url: `https://example.com/woman-power?sub=${submissionId}` }\n  ]\n};\n\nreturn [{\n  json: {\n    userChatId: submission.userChatId,\n    giftValue: submission.giftValue,\n    gifts: giftsByLevel[submission.levelKey] || [],\n    reviewOfferText: 'Хочешь получить дополнительный подарок?\\n\\nОставь отзыв на маркетплейсе и получи ещё один бонус 👇'\n  }\n}];"}, "id": "fe4c3533-b032-4d80-8fc1-ea273fa12fc5", "name": "Resolve Approve", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [0, 1008]}, {"parameters": {"chatId": "={{ $json.userChatId || $json.chatId }}", "text": "={{ '<b>Покупка подтверждена ✨</b>\\n\\nТвоя заявка одобрена, и бонусы уже открыты.\\nСумма бонусов: <b>' + ($json.giftValue || 0) + ' руб.</b>\\n\\nЗабирай подарки по кнопкам ниже 👇' }}", "replyMarkup": "inlineKeyboard", "inlineKeyboard": {"rows": [{"row": {"buttons": [{"text": "={{ $json.gifts[0].title }}", "additionalFields": {"url": "={{ $json.gifts[0].url }}"}}]}}, {"row": {"buttons": [{"text": "={{ $json.gifts[1].title }}", "additionalFields": {"url": "={{ $json.gifts[1].url }}"}}]}}, {"row": {"buttons": [{"text": "={{ $json.gifts[2].title }}", "additionalFields": {"url": "={{ $json.gifts[2].url }}"}}]}}]}, "additionalFields": {"appendAttribution": false, "disable_web_page_preview": false, "parse_mode": "HTML"}}, "id": "3770d3c3-aee6-4dad-91a6-663fe5bc3cd1", "name": "Send Approved Gifts", "type": "n8n-nodes-base.telegram", "typeVersion": 1, "position": [240, 1008], "webhookId": "78abad71-0152-4d5d-95e9-56951cfebcc4", "credentials": {"telegramApi": {"id": "mMWjCEIMAWSDgVY1", "name": "Telegram account"}}}, {"parameters": {"jsCode": "const store = $getWorkflowStaticData('global');\nstore.users = store.users || {};\nstore.submissions = store.submissions || {};\n\nconst data = String($json.callback_query?.data || '');\nconst submissionId = data.includes('|') ? data.split('|')[1] : '';\nconst submission = store.submissions[submissionId];\nconst reviewerId = String($json.callback_query?.from?.id || '');\nconst adminId = String($json.app_config?.ADMIN_USER_ID || '7260765133');\n\nif (reviewerId !== adminId) {\n  return [{ json: { userChatId: $json.callback_query?.message?.chat?.id, text: 'Недостаточно прав.' } }];\n}\nif (!submission) return [{ json: { userChatId: $json.callback_query?.message?.chat?.id, text: 'Заявка не найдена.' } }];\nif (submission.status !== 'pending') return [{ json: { userChatId: $json.callback_query?.message?.chat?.id, text: 'Заявка уже обработана.' } }];\n\nsubmission.status = 'rejected';\nsubmission.reviewedAt = new Date().toISOString();\nsubmission.reviewerId = reviewerId;\n\nconst userKey = String(submission.userChatId);\nconst user = store.users[userKey] || { chatId: submission.userChatId };\nuser.previousState = user.state || 'waiting_purchase_review';\nuser.state = 'purchase_rejected';\nuser.currentFlow = 'purchase';\nuser.stepLabel = 'Нужно отправить фото заново';\nuser.giftsUnlocked = false;\nuser.updatedAt = new Date().toISOString();\nstore.users[userKey] = user;\n\nreturn [{ json: { userChatId: submission.userChatId, text: 'К сожалению, фото не прошло проверку.\\n\\nНажми «⬅️ Назад», чтобы вернуться и отправить новое фото.' } }];"}, "id": "f4f5b6f7-f334-421c-b0a1-584b1963c433", "name": "Resolve Reject", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [0, 1120]}, {"parameters": {"chatId": "={{ $json.userChatId }}", "text": "={{ $json.text }}", "replyMarkup": "replyKeyboard", "replyKeyboard": {"rows": [{"row": {"buttons": [{"text": "🎁 Получить бонусы", "additionalFields": {}}, {"text": "▶️ Продолжить", "additionalFields": {}}]}}, {"row": {"buttons": [{"text": "📍 Мой статус", "additionalFields": {}}, {"text": "⬅️ Назад", "additionalFields": {}}]}}, {"row": {"buttons": [{"text": "🔄 Начать заново", "additionalFields": {}}, {"text": "💬 Помощь", "additionalFields": {}}]}}]}, "replyKeyboardOptions": {"resize_keyboard": true}, "additionalFields": {"appendAttribution": false, "disable_web_page_preview": true, "parse_mode": "HTML"}}, "id": "25077810-9176-417b-8a4f-4a0cb6d57cc6", "name": "Send Reject Message", "type": "n8n-nodes-base.telegram", "typeVersion": 1, "position": [240, 1120], "webhookId": "3372c350-678d-487c-9152-71a7c1667f54", "credentials": {"telegramApi": {"id": "mMWjCEIMAWSDgVY1", "name": "Telegram account"}}}, {"parameters": {"jsCode": "const store = $getWorkflowStaticData('global');\nstore.users = store.users || {};\n\nconst source = $json.raw || $json;\nconst chatId =\n  $json.chatId ||\n  $json.telegram_chat_id ||\n  source.message?.chat?.id ||\n  source.callback_query?.message?.chat?.id ||\n  null;\n\nconst user = store.users[String(chatId)] || {};\n\nconst labels = {\n  new: 'ещё не начали',\n  start: 'готово к старту',\n  awaiting_subscription: 'ждём подтверждение подписки',\n  awaiting_contact: 'ждём контакт',\n  awaiting_package: 'ждём выбор пакета',\n  awaiting_photo: 'ждём фото или скрин заказа',\n  awaiting_purchase_photo: 'ждём фото или скрин заказа',\n  waiting_review: 'заявка на проверке',\n  waiting_purchase_review: 'заявка на проверке',\n  purchase_approved: 'покупка подтверждена',\n  purchase_rejected: 'покупка не подтверждена',\n  review_offer: 'доступен бонус за отзыв',\n  awaiting_marketplace: 'ждём выбор площадки',\n  awaiting_review_screenshot: 'ждём скрин отзыва',\n  awaiting_review_product_photo: 'ждём фото товара',\n  waiting_review_review: 'отзыв на проверке',\n  review_approved: 'бонус за отзыв открыт',\n  review_rejected: 'отзыв не подтверждён',\n  upsell_offer: 'доступно спецпредложение',\n  upsell_waiting: 'ждём решение по предложению',\n  upsell_declined: 'спецпредложение пропущено'\n};\n\nlet nextStep = 'Нажми «🎁 Получить бонусы», чтобы начать.';\nif (user.state === 'awaiting_subscription') nextStep = 'Подпишись на группу и нажми «Я подписался».';\nif (user.state === 'awaiting_contact') nextStep = 'Нажми кнопку ниже и отправь контакт в Telegram.';\nif (user.state === 'awaiting_package') nextStep = 'Выбери свой пакет покупки.';\nif (user.state === 'awaiting_photo' || user.state === 'awaiting_purchase_photo') nextStep = 'Отправь фото товара, упаковки или скрин заказа.';\nif (user.state === 'waiting_review' || user.state === 'waiting_purchase_review') nextStep = 'Подожди немного — сейчас мы проверяем заявку.';\nif (user.state === 'purchase_approved') nextStep = 'Подарки уже открыты 👇';\nif (user.state === 'purchase_rejected') nextStep = 'Проверь фото и отправь заново.';\nif (user.state === 'review_offer') nextStep = 'Можно получить дополнительный бонус за отзыв.';\nif (user.state === 'awaiting_marketplace') nextStep = 'Выбери площадку, где оставишь отзыв.';\nif (user.state === 'awaiting_review_screenshot') nextStep = 'Пришли скрин опубликованного отзыва.';\nif (user.state === 'awaiting_review_product_photo') nextStep = 'Пришли фото товара.';\nif (user.state === 'waiting_review_review') nextStep = 'Подожди немного — сейчас мы проверяем отзыв.';\nif (user.state === 'review_approved') nextStep = 'Дополнительный бонус уже открыт 👇';\nif (user.state === 'review_rejected') nextStep = 'Проверь материалы и отправь заново.';\n\nconst text =\n  'Статус заявки CH-spa\\n\\n' +\n  'Сейчас: ' + (labels[user.state] || 'нет данных') + '\\n' +\n  (user.selectedLevelLabel ? 'Пакет: ' + user.selectedLevelLabel + '\\n' : '') +\n  (user.phone ? 'Контакт сохранён: ' + user.phone + '\\n' : '') +\n  '\\nСледующий шаг:\\n' + nextStep;\n\nreturn [{ json: { ...$json, chatId, text } }];\n"}, "id": "48521ab5-fb0e-418f-af28-5a0c23604d3d", "name": "Build Status Message", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [0, 1248]}, {"parameters": {"chatId": "={{ $json.chatId }}", "text": "={{ $json.text }}", "replyMarkup": "replyKeyboard", "replyKeyboard": {"rows": [{"row": {"buttons": [{"text": "🎁 Получить бонусы", "additionalFields": {}}, {"text": "▶️ Продолжить", "additionalFields": {}}]}}, {"row": {"buttons": [{"text": "📍 Мой статус", "additionalFields": {}}, {"text": "⬅️ Назад", "additionalFields": {}}]}}, {"row": {"buttons": [{"text": "🔄 Начать заново", "additionalFields": {}}, {"text": "💬 Помощь", "additionalFields": {}}]}}]}, "replyKeyboardOptions": {"resize_keyboard": true}, "additionalFields": {"appendAttribution": false, "disable_web_page_preview": true}}, "id": "4564eccc-dcb0-43bb-a7eb-b54f219566d7", "name": "Send Status Message", "type": "n8n-nodes-base.telegram", "typeVersion": 1, "position": [240, 1248], "webhookId": "7cff7f0c-ba2d-436a-8d15-b510a98cbbf4", "credentials": {"telegramApi": {"id": "mMWjCEIMAWSDgVY1", "name": "Telegram account"}}}, {"parameters": {"jsCode": "\nconst store = $getWorkflowStaticData('global');\nstore.users = store.users || {};\nconst chatId = $json.message.chat.id;\nconst key = String(chatId);\nconst old = store.users[key] || { chatId };\nstore.users[key] = {\n  ...old,\n  state: 'start',\n  previousState: 'new',\n  selectedLevelKey: '',\n  selectedLevelLabel: '',\n  giftValue: 0,\n  lastPhoto: null,\n  lastSubmissionId: null,\n  lastApprovedSubmissionId: null,\n  giftsUnlocked: false,\n  stepLabel: 'Главное меню',\n  updatedAt: new Date().toISOString()\n};\nreturn [{ json: { chatId, text: 'Готово. Начинаем заново 👇' } }];\n"}, "id": "229ac5bd-c5d4-40b2-b9ac-afc97bd8d6db", "name": "Reset User State", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [0, 1360]}, {"parameters": {"chatId": "={{ $json.chatId }}", "text": "={{ $json.text }}", "replyMarkup": "inlineKeyboard", "inlineKeyboard": {"rows": [{"row": {"buttons": [{"text": "🎁 Получить бонусы", "additionalFields": {"callback_data": "START_PURCHASE"}}]}}]}, "additionalFields": {"appendAttribution": false, "disable_web_page_preview": true}}, "id": "90638af0-ebcd-4a3a-8e56-7fd49d0ab39e", "name": "Send Reset Message", "type": "n8n-nodes-base.telegram", "typeVersion": 1, "position": [240, 1360], "webhookId": "631c1366-4741-4118-8639-a088dc8f0e8c", "credentials": {"telegramApi": {"id": "mMWjCEIMAWSDgVY1", "name": "Telegram account"}}}, {"parameters": {"jsCode": "const input = $input.first()?.json || {};\nconst source = input.raw || input;\n\nconst chatId =\n  input.chatId ??\n  input.telegram_chat_id ??\n  input.crm?.telegram_chat_id ??\n  source.message?.chat?.id ??\n  source.callback_query?.message?.chat?.id ??\n  source.message?.from?.id ??\n  source.callback_query?.from?.id ??\n  null;\n\nif (!chatId) {\n  throw new Error('Build Help Message: chatId not found');\n}\n\nreturn [{\n  json: {\n    ...input,\n    chatId: Number(chatId),\n    text:\n      'CH-spa • Помощь\\n\\n' +\n      'Как всё работает:\\n' +\n      '1. Подписка на группу\\n' +\n      '2. Контакт в Telegram\\n' +\n      '3. Выбор пакета\\n' +\n      '4. Фото товара или скрин заказа\\n\\n' +\n      'Если остановилась на каком-то шаге, нажми «▶️ Продолжить».\\n' +\n      'Если хочешь вернуться назад, нажми «⬅️ Назад».\\n' +\n      'Кнопка «📍 Мой статус» показывает, что происходит с заявкой.'\n  }\n}];\n"}, "id": "cc8db39e-37b2-4e03-83f4-d983170fee0f", "name": "Build Help Message", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [0, 1488]}, {"parameters": {"chatId": "={{ Number($json.chatId || $json.telegram_chat_id || $json.crm?.telegram_chat_id || 0) }}", "text": "={{ $json.text || 'CH-spa • Помощь\\n\\nИспользуй меню ниже:\\n🎁 Получить бонусы\\n📍 Мой статус\\n⬅️ Назад\\n🔄 Начать заново' }}", "replyMarkup": "replyKeyboard", "replyKeyboard": {"rows": [{"row": {"buttons": [{"text": "🎁 Получить бонусы", "additionalFields": {}}, {"text": "▶️ Продолжить", "additionalFields": {}}]}}, {"row": {"buttons": [{"text": "📍 Мой статус", "additionalFields": {}}, {"text": "⬅️ Назад", "additionalFields": {}}]}}, {"row": {"buttons": [{"text": "🔄 Начать заново", "additionalFields": {}}, {"text": "💬 Помощь", "additionalFields": {}}]}}]}, "replyKeyboardOptions": {"resize_keyboard": true}, "additionalFields": {"appendAttribution": false, "disable_web_page_preview": true}}, "id": "84e20643-76e9-4842-8f72-4777c8dbea87", "name": "Send Help Message", "type": "n8n-nodes-base.telegram", "typeVersion": 1, "position": [240, 1488], "webhookId": "59328735-45d5-4eaf-be34-fe01cb7bbf3a", "credentials": {"telegramApi": {"id": "mMWjCEIMAWSDgVY1", "name": "Telegram account"}}}, {"parameters": {"jsCode": "const store = $getWorkflowStaticData('global');\nstore.users = store.users || {};\nconst chatId = $json.message?.chat?.id || $json.callback_query?.message?.chat?.id;\nconst user = store.users[String(chatId)] || {};\nlet text = '';\nswitch (user.state) {\n  case 'awaiting_subscription':\n    text = 'Ты остановилась на шаге 1 из 4.\\n\\nПодпишись на группу и нажми «Я подписался».';\n    break;\n  case 'awaiting_contact':\n    text = 'Ты остановилась на шаге 2 из 4.\\n\\nОтправь свой контакт, чтобы продолжить.';\n    break;\n  case 'awaiting_package':\n    text = 'Ты остановилась на шаге 3 из 4.\\n\\nВыбери пакет покупки.';\n    break;\n  case 'awaiting_photo':\n  case 'awaiting_purchase_photo':\n    text = 'Ты остановилась на шаге 4 из 4.\\n\\nОтправь фото товара или скрин заказа.';\n    break;\n  case 'waiting_review':\n  case 'waiting_purchase_review':\n    text = 'Твоя заявка уже на рассмотрении менеджером. Проверяй статус через «📍 Мой статус».';\n    break;\n  case 'purchase_approved':\n  case 'approved':\n    text = 'Покупка уже подтверждена. Бонусы и подарки доступны 🎁';\n    break;\n  case 'review_offer':\n    text = 'Покупка подтверждена. Ты можешь запустить бонус за отзыв кнопкой «⭐ Оставить отзыв».';\n    break;\n  case 'awaiting_marketplace':\n    text = 'Выбери маркетплейс, где ты оставила отзыв.';\n    break;\n  case 'awaiting_review_screenshot':\n    text = 'Пришли скрин опубликованного отзыва.';\n    break;\n  case 'awaiting_review_product_photo':\n    text = 'Теперь пришли фото товара для бонуса за отзыв.';\n    break;\n  default:\n    text = 'Нажми «🎁 Получить бонусы», чтобы начать путь заново.';\n}\nreturn [{ json: { chatId, text } }];"}, "id": "4c86db94-60f1-4e42-95ed-cfa13a426bc9", "name": "Build Continue Message", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [0, 1600]}, {"parameters": {"chatId": "={{ $json.chatId }}", "text": "={{ $json.text }}", "replyMarkup": "replyKeyboard", "replyKeyboard": {"rows": [{"row": {"buttons": [{"text": "🎁 Получить бонусы", "additionalFields": {}}, {"text": "▶️ Продолжить", "additionalFields": {}}]}}, {"row": {"buttons": [{"text": "📍 Мой статус", "additionalFields": {}}, {"text": "⬅️ Назад", "additionalFields": {}}]}}, {"row": {"buttons": [{"text": "🔄 Начать заново", "additionalFields": {}}, {"text": "💬 Помощь", "additionalFields": {}}]}}]}, "replyKeyboardOptions": {"resize_keyboard": true}, "additionalFields": {"appendAttribution": false, "disable_web_page_preview": true, "parse_mode": "HTML"}}, "id": "a1bd33af-0c74-4463-93e1-c494664de42f", "name": "Send Continue Message", "type": "n8n-nodes-base.telegram", "typeVersion": 1, "position": [240, 1600], "webhookId": "b113de85-1f3c-456c-b653-be416cbb665e", "credentials": {"telegramApi": {"id": "mMWjCEIMAWSDgVY1", "name": "Telegram account"}}}, {"parameters": {"jsCode": "const store = $getWorkflowStaticData('global');\nstore.users = store.users || {};\nconst chatId = $json.message?.chat?.id || $json.callback_query?.message?.chat?.id;\nconst key = String(chatId);\nconst user = store.users[key] || { chatId };\nlet text = '';\n\nif (user.state === 'awaiting_contact') {\n  user.previousState = user.state;\n  user.state = 'awaiting_subscription';\n  user.stepLabel = 'Подписка на группу';\n  text = 'Возвращаю тебя на шаг 1 из 4 — подписка на группу.';\n} else if (user.state === 'awaiting_package') {\n  user.previousState = user.state;\n  user.state = 'awaiting_contact';\n  user.stepLabel = 'Ожидаем контакт';\n  text = 'Возвращаю тебя на шаг 2 из 4 — контакт.';\n} else if (user.state === 'awaiting_photo' || user.state === 'purchase_rejected') {\n  user.previousState = user.state;\n  user.state = 'awaiting_package';\n  user.stepLabel = 'Выбор пакета';\n  text = 'Возвращаю тебя на шаг 3 из 4 — выбор пакета.';\n} else if (user.state === 'review_rejected') {\n  user.previousState = user.state;\n  user.state = 'awaiting_review_screenshot';\n  user.stepLabel = 'Ожидаем скрин отзыва';\n  text = 'Возвращаю тебя к шагу со скрином отзыва.';\n} else {\n  text = 'Сейчас вернуться назад нельзя. Нажми «▶️ Продолжить» или «📍 Мой статус».';\n}\nuser.updatedAt = new Date().toISOString();\nstore.users[key] = user;\nreturn [{ json: { chatId, text, state: user.state } }];"}, "id": "d577370b-fe70-42af-a6d1-42bc62852eb3", "name": "Build Back Message", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [0, 1728]}, {"parameters": {"chatId": "={{ $json.chatId }}", "text": "={{ $json.text }}", "replyMarkup": "replyKeyboard", "replyKeyboard": {"rows": [{"row": {"buttons": [{"text": "🎁 Получить бонусы", "additionalFields": {}}, {"text": "▶️ Продолжить", "additionalFields": {}}]}}, {"row": {"buttons": [{"text": "📍 Мой статус", "additionalFields": {}}, {"text": "⬅️ Назад", "additionalFields": {}}]}}, {"row": {"buttons": [{"text": "🔄 Начать заново", "additionalFields": {}}, {"text": "💬 Помощь", "additionalFields": {}}]}}]}, "replyKeyboardOptions": {"resize_keyboard": true}, "additionalFields": {"appendAttribution": false, "disable_web_page_preview": true, "parse_mode": "HTML"}}, "id": "ee51cb01-f2f4-4bf6-8549-b611e559277d", "name": "Send Back Message", "type": "n8n-nodes-base.telegram", "typeVersion": 1, "position": [240, 1728], "webhookId": "ff56116e-f961-4e6b-89d9-2ea3bff4e42e", "credentials": {"telegramApi": {"id": "mMWjCEIMAWSDgVY1", "name": "Telegram account"}}}, {"parameters": {"jsCode": "\nconst store = $getWorkflowStaticData('global');\nconst users = Object.values(store.users || {});\nconst esc = (v) => `\"${String(v ?? '').replace(/\"/g, '\"\"')}\"`;\nconst header = ['chatId','username','firstName','lastName','phone','state','selectedLevelLabel','createdAt','lastSeenAt'].join(';');\nconst rows = users.map(u => [esc(u.chatId),esc(u.username),esc(u.firstName),esc(u.lastName),esc(u.phone),esc(u.state),esc(u.selectedLevelLabel),esc(u.createdAt),esc(u.lastSeenAt)].join(';'));\nconst csv = [header, ...rows].join('\\n');\nconst fileName = `ch-spa-users-${new Date().toISOString().slice(0,10)}.csv`;\nreturn [{ json: { chatId: $json.message.chat.id }, binary: { data: { data: Buffer.from(csv, 'utf8').toString('base64'), mimeType: 'text/csv', fileName } } }];\n"}, "id": "23cf7053-8849-4897-8567-4ad61025252f", "name": "Build Export CSV", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [0, 1840]}, {"parameters": {"operation": "sendDocument", "chatId": "={{ $json.chatId }}", "binaryData": true, "additionalFields": {"caption": "Экспорт базы пользователей CH-spa", "parse_mode": "HTML"}}, "id": "aaa80f74-1154-44fd-bdc3-7702b2f85bb4", "name": "Send Export CSV", "type": "n8n-nodes-base.telegram", "typeVersion": 1, "position": [240, 1840], "webhookId": "63752a87-5334-46de-a8b8-99b464a0879f", "credentials": {"telegramApi": {"id": "mMWjCEIMAWSDgVY1", "name": "Telegram account"}}}, {"parameters": {"jsCode": "\nconst store = $getWorkflowStaticData('global');\nconst users = Object.values(store.users || {});\nconst raw = $json.message.text || '';\nconst text = raw.replace(/^\\/broadcast\\s*/i, '').trim();\nif (!text) return [];\nreturn users.filter(u => u.chatId).map(u => ({ json: { chatId: u.chatId, text } }));\n"}, "id": "885727bb-ffe9-449b-ba4c-0b6248f1c22d", "name": "Build Broadcast Items", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [0, 1968]}, {"parameters": {"chatId": "={{ $json.chatId }}", "text": "={{ $json.text }}", "additionalFields": {"appendAttribution": false, "disable_web_page_preview": true, "parse_mode": "HTML"}}, "id": "cf7c55c5-18f7-4ed2-a576-68e92b120d10", "name": "Broadcast Message", "type": "n8n-nodes-base.telegram", "typeVersion": 1, "position": [240, 1968], "webhookId": "234ab411-6659-4d10-a2a6-91f55080e0a7", "credentials": {"telegramApi": {"id": "mMWjCEIMAWSDgVY1", "name": "Telegram account"}}}, {"parameters": {"jsCode": "\nconst store = $getWorkflowStaticData('global');\nconst users = Object.values(store.users || {});\nconst submissions = Object.values(store.submissions || {});\nconst byState = users.reduce((acc,u)=>{const k=u.state||'unknown'; acc[k]=(acc[k]||0)+1; return acc;}, {});\nconst text = '<b>Статистика CH-spa</b>\\n\\n' +\n'Пользователи: <b>' + users.length + '</b>\\n' +\n'Заявки: <b>' + submissions.length + '</b>\\n\\n' +\nObject.entries(byState).map(([k,v]) => '• ' + k + ': ' + v).join('\\n');\nreturn [{ json: { chatId: $json.message.chat.id, text } }];\n"}, "id": "885bd3d1-503e-481b-b810-4df7c8e7a35f", "name": "Build Admin Stats", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [0, 2080]}, {"parameters": {"chatId": "={{ $json.chatId }}", "text": "={{ $json.text }}", "additionalFields": {"appendAttribution": false, "disable_web_page_preview": true, "parse_mode": "HTML"}}, "id": "37a881a8-ac0e-4056-82db-b86bf65c2ce3", "name": "Send Admin Stats", "type": "n8n-nodes-base.telegram", "typeVersion": 1, "position": [240, 2080], "webhookId": "9f715788-585c-4386-b36e-a5b19cda7191", "credentials": {"telegramApi": {"id": "mMWjCEIMAWSDgVY1", "name": "Telegram account"}}}, {"parameters": {"jsCode": "\nconst store = $getWorkflowStaticData('global');\nconst raw = $json.message.text || '';\nconst parts = raw.trim().split(/\\s+/);\nconst lookup = parts[1] || '';\nconst user = (store.users || {})[String(lookup)];\nlet text = '';\nif (!lookup) text = 'Использование: /user 123456789';\nelse if (!user) text = 'Пользователь не найден.';\nelse text = '<b>Пользователь</b>\\n\\nchatId: <code>' + user.chatId + '</code>\\nusername: ' + (user.username || '-') + '\\nstate: <b>' + (user.state || '-') + '</b>\\nphone: ' + (user.phone || '-') + '\\npackage: ' + (user.selectedLevelLabel || '-') + '\\ncreatedAt: ' + (user.createdAt || '-');\nreturn [{ json: { chatId: $json.message.chat.id, text } }];\n"}, "id": "9f28a87a-8426-4baf-9928-1093f5fcc1c9", "name": "Build User Lookup", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [0, 2208]}, {"parameters": {"chatId": "={{ $json.chatId }}", "text": "={{ $json.text }}", "additionalFields": {"appendAttribution": false, "disable_web_page_preview": true, "parse_mode": "HTML"}}, "id": "fca65882-83d7-4f80-add8-d00e2c56a71e", "name": "Send User Lookup", "type": "n8n-nodes-base.telegram", "typeVersion": 1, "position": [240, 2208], "webhookId": "0e015b37-535a-4b1c-b9a5-540bdf45b617", "credentials": {"telegramApi": {"id": "mMWjCEIMAWSDgVY1", "name": "Telegram account"}}}, {"parameters": {"jsCode": "const store = $getWorkflowStaticData('global');\nstore.users = store.users || {};\nconst chatId = $json.callback_query?.message?.chat?.id || $json.message?.chat?.id;\nconst key = String(chatId);\nconst user = store.users[key] || { chatId };\nuser.previousState = user.state || 'purchase_approved';\nuser.state = 'awaiting_marketplace';\nuser.currentFlow = 'review';\nuser.stepLabel = 'Выбор маркетплейса';\nuser.updatedAt = new Date().toISOString();\nstore.users[key] = user;\nreturn [{ json: { chatId } }];"}, "id": "ee0c040b-fd8f-42b9-8243-0fcccaf84a92", "name": "Set Awaiting Marketplace", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [0, 2448]}, {"parameters": {"chatId": "={{ $json.chatId }}", "text": "={{ 'Выбери маркетплейс, где ты оставила отзыв 👇' }}", "replyMarkup": "inlineKeyboard", "inlineKeyboard": {"rows": [{"row": {"buttons": [{"text": "WB", "additionalFields": {"callback_data": "MARKETPLACE_WB"}}, {"text": "Ozon", "additionalFields": {"callback_data": "MARKETPLACE_OZON"}}]}}, {"row": {"buttons": [{"text": "Яндекс Маркет", "additionalFields": {"callback_data": "MARKETPLACE_YM"}}, {"text": "Другое", "additionalFields": {"callback_data": "MARKETPLACE_OTHER"}}]}}]}, "additionalFields": {"appendAttribution": false, "disable_web_page_preview": true, "parse_mode": "HTML"}}, "id": "c7e4e15a-d4dc-488b-b7c3-f9b6b74280ff", "name": "Send Marketplace Step", "type": "n8n-nodes-base.telegram", "typeVersion": 1, "position": [240, 2448], "webhookId": "e3c4b255-f42e-4fae-9567-6c2b6dd21a63", "credentials": {"telegramApi": {"id": "mMWjCEIMAWSDgVY1", "name": "Telegram account"}}}, {"parameters": {"jsCode": "const store = $getWorkflowStaticData('global');\nstore.users = store.users || {};\nstore.reviewSubmissions = store.reviewSubmissions || {};\nconst cb = $json.callback_query?.data || '';\nconst map = {\n  MARKETPLACE_WB: { key:'wb', label:'Wildberries' },\n  MARKETPLACE_OZON: { key:'ozon', label:'Ozon' },\n  MARKETPLACE_YM: { key:'ym', label:'Яндекс Маркет' },\n  MARKETPLACE_OTHER: { key:'other', label:'Другое' }\n};\nconst selected = map[cb];\nif (!selected) throw new Error('Marketplace not selected');\nconst chatId = $json.callback_query.message.chat.id;\nconst key = String(chatId);\nconst reviewId = 'r' + Date.now().toString(36) + Math.random().toString(36).slice(2,6);\nstore.reviewSubmissions[reviewId] = {\n  reviewId,\n  telegramChatId: chatId,\n  marketplaceKey: selected.key,\n  marketplaceLabel: selected.label,\n  reviewScreenshotFileIds: [],\n  productPhotoFileIds: [],\n  status: 'draft',\n  createdAt: new Date().toISOString()\n};\nconst user = store.users[key] || { chatId };\nuser.currentReviewId = reviewId;\nuser.previousState = user.state || 'awaiting_marketplace';\nuser.state = 'awaiting_review_screenshot';\nuser.currentFlow = 'review';\nuser.updatedAt = new Date().toISOString();\nstore.users[key] = user;\nreturn [{ json: { chatId, reviewId, marketplaceKey: selected.key, marketplaceLabel: selected.label } }];"}, "id": "1f14f523-9821-45ad-bd7b-2f602683290b", "name": "Save Marketplace", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [0, 2560]}, {"parameters": {"chatId": "={{ $json.chatId }}", "text": "={{ 'Пришли скрин опубликованного отзыва.' }}", "additionalFields": {"appendAttribution": false, "disable_web_page_preview": true, "parse_mode": "HTML"}}, "id": "079d43f7-72dc-4832-801c-2b9a3915f754", "name": "Send Review Screenshot Step", "type": "n8n-nodes-base.telegram", "typeVersion": 1, "position": [240, 2560], "webhookId": "4e395978-d315-4b19-af59-764e939ba0b9", "credentials": {"telegramApi": {"id": "mMWjCEIMAWSDgVY1", "name": "Telegram account"}}}, {"parameters": {"jsCode": "const store = $getWorkflowStaticData('global');\nstore.users = store.users || {};\nstore.reviewSubmissions = store.reviewSubmissions || {};\nconst chatId = $json.message.chat.id;\nconst photos = $json.message.photo || [];\nconst bestPhoto = photos[photos.length - 1];\nif (!bestPhoto) throw new Error('Screenshot not found');\nconst user = store.users[String(chatId)] || {};\nconst reviewId = user.currentReviewId;\nif (!reviewId || !store.reviewSubmissions[reviewId]) throw new Error('Review submission not found');\nstore.reviewSubmissions[reviewId].reviewScreenshotFileIds.push(bestPhoto.file_id);\nuser.previousState = user.state || 'awaiting_review_screenshot';\nuser.state = 'awaiting_review_product_photo';\nuser.updatedAt = new Date().toISOString();\nstore.users[String(chatId)] = user;\nreturn [{ json: { chatId, reviewId, screenshotFileId: bestPhoto.file_id } }];"}, "id": "d8f5245f-5c84-4c8a-a634-00fd8ba029a5", "name": "Save Review Screenshot", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [0, 2688]}, {"parameters": {"chatId": "={{ $json.chatId }}", "text": "={{ 'Теперь пришли фото товара для бонуса за отзыв.' }}", "additionalFields": {"appendAttribution": false, "disable_web_page_preview": true, "parse_mode": "HTML"}}, "id": "579ad680-46a2-48ef-b3b9-ce3ad01d6d96", "name": "Send Review Product Photo Step", "type": "n8n-nodes-base.telegram", "typeVersion": 1, "position": [240, 2688], "webhookId": "c6bfcea5-db32-4768-8e01-9e3740f4ad5c", "credentials": {"telegramApi": {"id": "mMWjCEIMAWSDgVY1", "name": "Telegram account"}}}, {"parameters": {"jsCode": "const store = $getWorkflowStaticData('global');\nstore.users = store.users || {};\nstore.reviewSubmissions = store.reviewSubmissions || {};\nconst chatId = $json.message.chat.id;\nconst photos = $json.message.photo || [];\nconst bestPhoto = photos[photos.length - 1];\nif (!bestPhoto) throw new Error('Product photo not found');\nconst user = store.users[String(chatId)] || {};\nconst reviewId = user.currentReviewId;\nif (!reviewId || !store.reviewSubmissions[reviewId]) throw new Error('Review submission not found');\nstore.reviewSubmissions[reviewId].productPhotoFileIds.push(bestPhoto.file_id);\nstore.reviewSubmissions[reviewId].status = 'submitted';\nstore.reviewSubmissions[reviewId].submittedAt = new Date().toISOString();\nuser.previousState = user.state || 'awaiting_review_product_photo';\nuser.state = 'waiting_review_review';\nuser.updatedAt = new Date().toISOString();\nstore.users[String(chatId)] = user;\nreturn [{ json: { chatId, reviewId, productPhotoFileId: bestPhoto.file_id, marketplaceLabel: store.reviewSubmissions[reviewId].marketplaceLabel } }];"}, "id": "74ba7711-af2a-4a23-96c6-e164212b3fc2", "name": "Save Review Product Photo", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [0, 2800]}, {"parameters": {"chatId": "={{ $json.chatId }}", "text": "={{ 'Материалы по отзыву отправлены менеджеру на проверку. Обычно это занимает до 30 минут.' }}", "additionalFields": {"appendAttribution": false, "disable_web_page_preview": true, "parse_mode": "HTML"}}, "id": "f7af89b0-e9bf-4598-a66d-9694f58bff41", "name": "Send User Waiting Review", "type": "n8n-nodes-base.telegram", "typeVersion": 1, "position": [240, 2800], "webhookId": "34c482d5-0201-4996-87f2-871df9118c52", "credentials": {"telegramApi": {"id": "mMWjCEIMAWSDgVY1", "name": "Telegram account"}}}, {"parameters": {"operation": "sendPhoto", "chatId": "=-1003989386408", "file": "={{ $json.productPhotoFileId }}", "replyMarkup": "inlineKeyboard", "inlineKeyboard": {"rows": [{"row": {"buttons": [{"text": "✅ Одобрить отзыв", "additionalFields": {"callback_data": "={{ 'APPROVE_REVIEW|' + $json.reviewId }}"}}, {"text": "❌ Отклонить отзыв", "additionalFields": {"callback_data": "={{ 'REJECT_REVIEW|' + $json.reviewId }}"}}]}}]}, "additionalFields": {"caption": "={{ '<b>Новый отзыв CH-spa</b>\\nReview ID: <code>' + $json.reviewId + '</code>\\nМаркетплейс: <b>' + $json.marketplaceLabel + '</b>' }}", "parse_mode": "HTML"}}, "id": "2959f0e4-343f-4bf8-8472-411cb2f98953", "name": "Send Review Submission To Managers", "type": "n8n-nodes-base.telegram", "typeVersion": 1, "position": [240, 2928], "webhookId": "6b86c632-32c3-4757-9fd7-4b6f5a1cd5d9", "credentials": {"telegramApi": {"id": "mMWjCEIMAWSDgVY1", "name": "Telegram account"}}}, {"parameters": {"jsCode": "const store = $getWorkflowStaticData('global');\nstore.users = store.users || {};\nstore.reviewSubmissions = store.reviewSubmissions || {};\nconst data = $json.callback_query?.data || '';\nconst reviewId = data.split('|')[1];\nconst review = store.reviewSubmissions[reviewId];\nconst reviewerId = String($json.callback_query?.from?.id || '');\nif (reviewerId !== '7260765133') return [{json:{chatId:$json.callback_query.message.chat.id,text:'Недостаточно прав.'}}];\nif (!review) return [{json:{chatId:$json.callback_query.message.chat.id,text:'Review не найден.'}}];\nreview.status='approved';\nreview.reviewedAt=new Date().toISOString();\nconst user = store.users[String(review.telegramChatId)] || { chatId: review.telegramChatId };\nuser.previousState = user.state || 'waiting_review_review';\nuser.state='review_approved';\nuser.updatedAt=new Date().toISOString();\nstore.users[String(review.telegramChatId)] = user;\nreturn [{json:{chatId:review.telegramChatId,text:'<b>Спасибо за отзыв 💛</b>\\n\\nМы проверили материалы и одобрили дополнительный бонус.\\n\\nПодарок уже открыт 🎁'}}];"}, "id": "9c33f6f0-c331-4c61-90ce-cbe23c578df6", "name": "Resolve Review Approve", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [0, 3040]}, {"parameters": {"chatId": "={{ $json.chatId }}", "text": "={{ $json.text }}", "additionalFields": {"appendAttribution": false, "disable_web_page_preview": true, "parse_mode": "HTML"}}, "id": "ad45727a-9194-4a4f-a74a-240d387c09b3", "name": "Send Review Approved Bonus", "type": "n8n-nodes-base.telegram", "typeVersion": 1, "position": [240, 3040], "webhookId": "37145400-52bc-468d-96f5-a499f2517564", "credentials": {"telegramApi": {"id": "mMWjCEIMAWSDgVY1", "name": "Telegram account"}}}, {"parameters": {"jsCode": "const store = $getWorkflowStaticData('global');\nstore.users = store.users || {};\nstore.reviewSubmissions = store.reviewSubmissions || {};\nconst data = $json.callback_query?.data || '';\nconst reviewId = data.split('|')[1];\nconst review = store.reviewSubmissions[reviewId];\nconst reviewerId = String($json.callback_query?.from?.id || '');\nif (reviewerId !== '7260765133') return [{json:{chatId:$json.callback_query.message.chat.id,text:'Недостаточно прав.'}}];\nif (!review) return [{json:{chatId:$json.callback_query.message.chat.id,text:'Review не найден.'}}];\nreview.status='rejected';\nreview.reviewedAt=new Date().toISOString();\nconst user = store.users[String(review.telegramChatId)] || { chatId: review.telegramChatId };\nuser.previousState = user.state || 'waiting_review_review';\nuser.state='review_rejected';\nuser.updatedAt=new Date().toISOString();\nstore.users[String(review.telegramChatId)] = user;\nreturn [{json:{chatId:review.telegramChatId,text:'Пока не можем подтвердить отзыв.\\n\\nНажми <b>⬅️ Назад</b>, чтобы вернуться и отправить материалы заново.'}}];"}, "id": "bc963a8c-e6f5-4342-9d78-b898d85d6e47", "name": "Resolve Review Reject", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [0, 3168]}, {"parameters": {"chatId": "={{ $json.chatId }}", "text": "={{ $json.text }}", "additionalFields": {"appendAttribution": false, "disable_web_page_preview": true, "parse_mode": "HTML"}}, "id": "4ba2cdd1-2372-4a24-b313-6da9361ebaf6", "name": "Send Review Reject Message", "type": "n8n-nodes-base.telegram", "typeVersion": 1, "position": [240, 3168], "webhookId": "94ee6991-a35e-409e-be0b-54f435cca3ac", "credentials": {"telegramApi": {"id": "mMWjCEIMAWSDgVY1", "name": "Telegram account"}}}, {"parameters": {"method": "POST", "url": "={{ $node[\"App Config\"].json.SUPABASE_REST_URL + '/users?on_conflict=telegram_user_id' }}", "sendHeaders": true, "headerParameters": {"parameters": [{"name": "apikey", "value": "={{ String($node[\"App Config\"].json.SUPABASE_SERVICE_ROLE_KEY || \"\").trim() }}"}, {"name": "Authorization", "value": "={{ \"Bearer \" + String($node[\"App Config\"].json.SUPABASE_SERVICE_ROLE_KEY || \"\").trim() }}"}, {"name": "Content-Type", "value": "application/json"}]}, "sendBody": true, "specifyBody": "json", "jsonBody": "={{ [ $json.crm ] }}", "options": {}}, "id": "a5e14380-0f44-4492-a7b9-2e8154a641a8", "name": "Supabase Upsert User", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [592, 0], "onError": "continueRegularOutput"}, {"parameters": {"method": "POST", "url": "={{ $node[\"App Config\"].json.SUPABASE_REST_URL + '/purchase_submissions' }}", "sendHeaders": true, "headerParameters": {"parameters": [{"name": "apikey", "value": "={{ String($node[\"App Config\"].json.SUPABASE_SERVICE_ROLE_KEY || \"\").trim() }}"}, {"name": "Authorization", "value": "={{ \"Bearer \" + String($node[\"App Config\"].json.SUPABASE_SERVICE_ROLE_KEY || \"\").trim() }}"}, {"name": "Content-Type", "value": "application/json"}]}, "sendBody": true, "specifyBody": "json", "jsonBody": "={{ [ {\n  telegram_user_id: $json.userChatId || $json.chatId || $json.message?.from?.id,\n  telegram_chat_id: $json.userChatId || $json.chatId || $json.message?.chat?.id,\n  package_key: $json.levelKey || $json.selectedLevelKey || 'standard',\n  package_label: $json.levelLabel || $json.selectedLevelLabel || 'unknown',\n  gift_value: $json.giftValue || 0,\n  status: 'approved',\n  proof_photo_file_ids: [$json.photoFileId || $json.message?.photo?.slice(-1)[0]?.file_id].filter(Boolean),\n  proof_photo_count: 1,\n  submitted_at: new Date().toISOString(),\n  approved_at: new Date().toISOString()\n} ] }}", "options": {}}, "id": "ad925d91-ae0a-4d5a-8f62-1853d4a40195", "name": "Supabase Insert Purchase Submission", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [592, 208], "onError": "continueRegularOutput"}, {"parameters": {"method": "PATCH", "url": "={{ $node[\"App Config\"].json.SUPABASE_REST_URL + '/users?telegram_user_id=eq.' + ($json.userChatId || $json.chatId || $json.message?.from?.id) }}", "sendHeaders": true, "headerParameters": {"parameters": [{"name": "apikey", "value": "={{ String($node[\"App Config\"].json.SUPABASE_SERVICE_ROLE_KEY || \"\").trim() }}"}, {"name": "Authorization", "value": "={{ \"Bearer \" + String($node[\"App Config\"].json.SUPABASE_SERVICE_ROLE_KEY || \"\").trim() }}"}, {"name": "Content-Type", "value": "application/json"}, {"name": "Prefer", "value": "return=representation"}]}, "sendBody": true, "specifyBody": "json", "jsonBody": "={{ {\n  state: 'purchase_approved',\n  previous_state: 'awaiting_purchase_photo',\n  current_flow: 'review',\n  selected_package_key: $json.levelKey || $json.selectedLevelKey || null,\n  selected_package_label: $json.levelLabel || $json.selectedLevelLabel || null,\n  selected_package_gift_value: $json.giftValue || 0,\n  updated_at: new Date().toISOString()\n} }}", "options": {}}, "id": "11e943be-53c2-424c-a89e-b67e118dac22", "name": "Supabase Update User Purchase Review", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [848, 208], "onError": "continueRegularOutput"}, {"parameters": {"method": "POST", "url": "={{ $node[\"App Config\"].json.SUPABASE_REST_URL + '/events' }}", "sendHeaders": true, "headerParameters": {"parameters": [{"name": "apikey", "value": "={{ String($node[\"App Config\"].json.SUPABASE_SERVICE_ROLE_KEY || \"\").trim() }}"}, {"name": "Authorization", "value": "={{ \"Bearer \" + String($node[\"App Config\"].json.SUPABASE_SERVICE_ROLE_KEY || \"\").trim() }}"}, {"name": "Content-Type", "value": "application/json"}]}, "sendBody": true, "specifyBody": "json", "jsonBody": "={{ [ {\n  telegram_user_id: $json.userChatId || $json.chatId || $json.message?.from?.id || $json.callback_query?.from?.id || null,\n  telegram_chat_id: $json.userChatId || $json.chatId || $json.message?.chat?.id || $json.callback_query?.message?.chat?.id || null,\n  event_type: $json.event_type || 'telegram_event',\n  event_source: 'n8n',\n  payload: $json\n} ] }}", "options": {}}, "id": "fe4e09ac-ac59-4c72-8008-ffb8edf73a03", "name": "Supabase Insert Event", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [1104, 208], "onError": "continueRegularOutput"}, {"parameters": {"jsCode": "\nconst store = $getWorkflowStaticData('global');\nstore.users = store.users || {};\nconst chatId = $json.userChatId || $json.chatId;\nconst key = String(chatId);\nconst user = store.users[key] || { chatId };\nuser.previousState = user.state || 'purchase_approved';\nuser.state = 'upsell_offer';\nuser.stepLabel = 'Предложен апселл';\nuser.updatedAt = new Date().toISOString();\nstore.users[key] = user;\n\nreturn [{\n  json: {\n    chatId,\n    text: '🔥 <b>Спецпредложение только сейчас</b>\\n\\nДобавь набор CH-spa по спеццене <b>' + ($node[\"App Config\"].json.UPSELL_STANDARD_PRICE_LABEL || '1990 ₽') + '</b>.\\n\\nПосле оплаты всё подтвердится автоматически.'\n  }\n}];\n"}, "id": "2ad9d869-e2fb-4088-8329-a96ac7598966", "name": "Build Upsell Offer", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [464, 1008]}, {"parameters": {"chatId": "={{ $json.chatId }}", "text": "={{ $json.text }}", "replyMarkup": "inlineKeyboard", "inlineKeyboard": {"rows": [{"row": {"buttons": [{"text": "🔥 Оплатить апгрейд", "additionalFields": {"callback_data": "UPSELL_YES"}}]}}, {"row": {"buttons": [{"text": "❌ Нет, спасибо", "additionalFields": {"callback_data": "UPSELL_NO"}}]}}]}, "additionalFields": {"appendAttribution": false, "disable_web_page_preview": true, "parse_mode": "HTML"}}, "id": "7a40802e-75f6-4e00-8026-124644a93c9b", "name": "Send Upsell Offer", "type": "n8n-nodes-base.telegram", "typeVersion": 1, "position": [704, 1008], "webhookId": "c723e4b9-a2ac-41ae-b660-dc28f378eac2", "credentials": {"telegramApi": {"id": "mMWjCEIMAWSDgVY1", "name": "Telegram account"}}}, {"parameters": {"jsCode": "\nconst store = $getWorkflowStaticData('global');\nstore.users = store.users || {};\nconst chatId = $json.callback_query?.message?.chat?.id || $json.message?.chat?.id;\nconst userId = $json.callback_query?.from?.id || $json.message?.from?.id || chatId;\nconst key = String(chatId);\nconst user = store.users[key] || { chatId };\nuser.previousState = user.state || 'upsell_offer';\nuser.state = 'waiting_payment';\nuser.stepLabel = 'Ожидаем оплату апселла';\nuser.updatedAt = new Date().toISOString();\nstore.users[key] = user;\n\nreturn [{\n  json: {\n    chatId,\n    telegram_user_id: userId,\n    telegram_chat_id: chatId,\n    package_key: $node[\"App Config\"].json.UPSELL_STANDARD_KEY || 'upsell_standard',\n    package_label: $node[\"App Config\"].json.UPSELL_STANDARD_LABEL || 'Апгрейд CH-spa',\n    amount: Number($node[\"App Config\"].json.UPSELL_STANDARD_AMOUNT || 1990),\n    currency: $node[\"App Config\"].json.PAYMENT_CURRENCY || 'RUB',\n    payment_type: 'upsell',\n    flow_type: 'upsell',\n    event_type: 'payment_pending'\n  }\n}];\n"}, "id": "e22baf86-44e3-4566-8d99-9e603638b071", "name": "Resolve Upsell Yes", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [0, 2448]}, {"parameters": {"chatId": "={{ $json.chatId }}", "text": "={{ '💳 Оплата готова\\n\\nНажми кнопку ниже, чтобы перейти к оплате. После успешной оплаты всё подтвердится автоматически.' }}", "replyMarkup": "inlineKeyboard", "inlineKeyboard": {"rows": [{"row": {"buttons": [{"text": "💳 Оплатить сейчас", "additionalFields": {"url": "={{ $json.confirmation_url || $json.paymentUrl }}"}}]}}]}, "additionalFields": {"appendAttribution": false, "disable_web_page_preview": true, "parse_mode": "HTML"}}, "id": "0d68fc20-baa4-4b51-a028-a7514b6caa08", "name": "Send Upsell Payment", "type": "n8n-nodes-base.telegram", "typeVersion": 1, "position": [2288, 2480], "webhookId": "5091d7ed-e4bc-4502-8314-6c946f678ba9", "credentials": {"telegramApi": {"id": "mMWjCEIMAWSDgVY1", "name": "Telegram account"}}}, {"parameters": {"jsCode": "\nconst store = $getWorkflowStaticData('global');\nstore.users = store.users || {};\nconst chatId = $json.callback_query?.message?.chat?.id || $json.message?.chat?.id;\nconst key = String(chatId);\nconst user = store.users[key] || { chatId };\nuser.previousState = user.state || 'upsell_offer';\nuser.state = 'upsell_declined';\nuser.stepLabel = 'Апселл отклонён';\nuser.updatedAt = new Date().toISOString();\nstore.users[key] = user;\n\nreturn [{\n  json: {\n    chatId,\n    text: 'Хорошо 🤍\\n\\nЕсли захочешь вернуться к спецпредложению позже, напиши менеджеру или следи за следующими сообщениями.'\n  }\n}];\n"}, "id": "aee23272-a5f2-4e68-ae0d-bf9ccc5847c2", "name": "Resolve Upsell No", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [0, 2560]}, {"parameters": {"chatId": "={{ $json.chatId }}", "text": "={{ $json.text }}", "additionalFields": {"appendAttribution": false, "disable_web_page_preview": true, "parse_mode": "HTML"}}, "id": "b5a90a62-7209-43bc-b56a-b4fc011eb076", "name": "Send Upsell No", "type": "n8n-nodes-base.telegram", "typeVersion": 1, "position": [240, 2560], "webhookId": "85d28c05-5f9d-4eab-b3c7-3a8a2dd1def4", "credentials": {"telegramApi": {"id": "mMWjCEIMAWSDgVY1", "name": "Telegram account"}}}, {"parameters": {"rule": {"interval": [{"field": "minutes", "minutesInterval": 30}]}}, "id": "8cd12861-e89c-4a65-a6da-29432489229c", "name": "Warmup Cron", "type": "n8n-nodes-base.scheduleTrigger", "typeVersion": 1.2, "position": [-784, 2448]}, {"parameters": {"jsCode": "\nconst store = $getWorkflowStaticData('global');\nstore.users = store.users || {};\nconst now = Date.now();\n\nconst itemsOut = Object.values(store.users)\n  .filter(user => user && user.chatId && !['purchase_approved','review_approved','closed'].includes(user.state))\n  .map(user => {\n    const updated = new Date(user.updatedAt || user.lastSeenAt || user.createdAt || Date.now()).getTime();\n    const diffMinutes = (now - updated) / 1000 / 60;\n    let followupType = '';\n\n    if ((user.state === 'awaiting_subscription') && diffMinutes > 15) followupType = 'subscription';\n    else if ((user.state === 'awaiting_contact') && diffMinutes > 20) followupType = 'contact';\n    else if ((user.state === 'awaiting_package') && diffMinutes > 20) followupType = 'package';\n    else if ((user.state === 'awaiting_photo' || user.state === 'awaiting_purchase_photo') && diffMinutes > 40) followupType = 'photo';\n    else if ((user.state === 'awaiting_review_screenshot') && diffMinutes > 1440) followupType = 'review';\n    else if ((user.state === 'upsell_offer' || user.state === 'upsell_waiting') && diffMinutes > 120) followupType = 'upsell';\n\n    return followupType ? { json: { chatId: user.chatId, state: user.state, followupType } } : null;\n  })\n  .filter(Boolean);\n\nreturn itemsOut;\n"}, "id": "1e27dbee-db13-4cd4-8dbc-e6726085c09f", "name": "Build Warmup Queue", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [-544, 2448]}, {"parameters": {"mode": "expression", "numberOutputs": 6, "output": "={{ (() => { const t = $json.followupType || ''; if (t === 'subscription') return 0; if (t === 'contact') return 1; if (t === 'package') return 2; if (t === 'photo') return 3; if (t === 'review') return 4; return 5; })() }}"}, "id": "24109383-547d-4d46-84ed-579bbaa172e5", "name": "Warmup Router", "type": "n8n-nodes-base.switch", "typeVersion": 3.2, "position": [-304, 2448]}, {"parameters": {"chatId": "={{ $json.chatId }}", "text": "Ты почти забрала подарок 🎁\\n\\nОстался один шаг — подпишись на группу, чтобы открыть доступ.", "additionalFields": {"appendAttribution": false, "disable_web_page_preview": true, "parse_mode": "HTML"}}, "id": "325809e0-86bf-4851-9180-24d9af7091c6", "name": "Send Followup Subscription", "type": "n8n-nodes-base.telegram", "typeVersion": 1, "position": [0, 2320], "webhookId": "30e45db2-2d1f-40e2-9e6e-e561b7d798f6", "credentials": {"telegramApi": {"id": "mMWjCEIMAWSDgVY1", "name": "Telegram account"}}}, {"parameters": {"chatId": "={{ $json.chatId }}", "text": "Остался один шаг 👇\\n\\nНужно оставить номер, чтобы закрепить подарок за тобой 🎁", "additionalFields": {"appendAttribution": false, "disable_web_page_preview": true, "parse_mode": "HTML"}}, "id": "b89b173c-74f4-4540-9bc1-44d07f8fe3e3", "name": "Send Followup Contact", "type": "n8n-nodes-base.telegram", "typeVersion": 1, "position": [0, 2384], "webhookId": "134b9509-68bb-4cd0-968f-ce38d549902d", "credentials": {"telegramApi": {"id": "mMWjCEIMAWSDgVY1", "name": "Telegram account"}}}, {"parameters": {"chatId": "={{ $json.chatId }}", "text": "Ты не выбрала пакет 👀\\n\\nОт этого зависит размер твоего подарка 🎁", "additionalFields": {"appendAttribution": false, "disable_web_page_preview": true, "parse_mode": "HTML"}}, "id": "441287af-fd08-43cd-902d-d69af947d96a", "name": "Send Followup Package", "type": "n8n-nodes-base.telegram", "typeVersion": 1, "position": [0, 2448], "webhookId": "edbe526c-bff3-4541-8ea4-92e1ad2a5e1d", "credentials": {"telegramApi": {"id": "mMWjCEIMAWSDgVY1", "name": "Telegram account"}}}, {"parameters": {"chatId": "={{ $json.chatId }}", "text": "Мы ещё не получили фото 👀\\n\\nБез него не сможем подтвердить покупку и открыть бонусы.", "additionalFields": {"appendAttribution": false, "disable_web_page_preview": true, "parse_mode": "HTML"}}, "id": "fa1861cf-e1df-4da4-aa27-10832bb78ced", "name": "Send Followup Photo", "type": "n8n-nodes-base.telegram", "typeVersion": 1, "position": [0, 2512], "webhookId": "7074f8aa-2f52-4a90-bd3e-9c26525fec28", "credentials": {"telegramApi": {"id": "mMWjCEIMAWSDgVY1", "name": "Telegram account"}}}, {"parameters": {"chatId": "={{ $json.chatId }}", "text": "Ты можешь получить ещё один подарок 🎁\\n\\nОставь отзыв и забери дополнительный бонус.", "additionalFields": {"appendAttribution": false, "disable_web_page_preview": true, "parse_mode": "HTML"}}, "id": "57e60958-0951-41e1-b60f-cda73b92714e", "name": "Send Followup Review", "type": "n8n-nodes-base.telegram", "typeVersion": 1, "position": [0, 2560], "webhookId": "f9ecf453-da7e-47c4-af45-6c38a2a82962", "credentials": {"telegramApi": {"id": "mMWjCEIMAWSDgVY1", "name": "Telegram account"}}}, {"parameters": {"chatId": "={{ $json.chatId }}", "text": "Ты не успела забрать апселл 👀\\n\\nСпецпредложение ещё доступно — можно вернуться к нему прямо сейчас.", "additionalFields": {"appendAttribution": false, "disable_web_page_preview": true, "parse_mode": "HTML"}}, "id": "67c40abe-2023-4cf9-9d4f-f1a3e6196401", "name": "Send Followup Upsell", "type": "n8n-nodes-base.telegram", "typeVersion": 1, "position": [0, 2624], "webhookId": "d5a068d9-ca59-4fbc-ac45-b83bdc6b9ab2", "credentials": {"telegramApi": {"id": "mMWjCEIMAWSDgVY1", "name": "Telegram account"}}}, {"parameters": {"method": "POST", "url": "={{ $node[\"App Config\"].json.SUPABASE_REST_URL + '/payments' }}", "sendHeaders": true, "headerParameters": {"parameters": [{"name": "apikey", "value": "={{ String($node[\"App Config\"].json.SUPABASE_SERVICE_ROLE_KEY || \"\").trim() }}"}, {"name": "Authorization", "value": "={{ \"Bearer \" + String($node[\"App Config\"].json.SUPABASE_SERVICE_ROLE_KEY || \"\").trim() }}"}, {"name": "Content-Type", "value": "application/json"}, {"name": "Prefer", "value": "return=representation"}]}, "sendBody": true, "specifyBody": "json", "jsonBody": "={{ [ { telegram_user_id: $json.telegram_user_id, telegram_chat_id: $json.telegram_chat_id, payment_type: $json.payment_type, flow_type: $json.flow_type, package_key: $json.package_key, package_label: $json.package_label, provider: ($node[\"App Config\"].json.PAYMENT_PROVIDER || 'yookassa'), amount: $json.amount, currency: $json.currency, status: 'created', metadata: { source: 'n8n_v3', chatId: $json.chatId } } ] }}", "options": {}}, "id": "d3e3fb94-d49e-45a7-a2b7-a6f3330d1e48", "name": "Supabase Insert Payment", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [848, 2480], "onError": "continueRegularOutput"}, {"parameters": {"method": "POST", "url": "https://api.yookassa.ru/v3/payments", "sendHeaders": true, "headerParameters": {"parameters": [{"name": "Idempotence-Key", "value": "={{ $execution.id + '-' + Date.now() }}"}, {"name": "Content-Type", "value": "application/json"}, {"name": "Authorization", "value": "={{ 'Basic ' + Buffer.from(($node[\"App Config\"].json.YOOKASSA_SHOP_ID || '') + ':' + ($node[\"App Config\"].json.YOOKASSA_SECRET_KEY || '')).toString('base64') }}"}]}, "sendBody": true, "specifyBody": "json", "jsonBody": "={{ { amount: { value: ($json.amount / 100).toFixed(2), currency: $json.currency }, capture: true, confirmation: { type: 'redirect', return_url: $node[\"App Config\"].json.PAYMENT_RETURN_URL }, description: 'CH-spa ' + $json.package_label, metadata: { telegram_user_id: String($json.telegram_user_id), telegram_chat_id: String($json.telegram_chat_id), package_key: $json.package_key } } }}", "options": {}}, "id": "894be9be-8528-4ce0-aa56-9686a30a1486", "name": "YooKassa Create Payment", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [1088, 2480], "onError": "continueRegularOutput"}, {"parameters": {"jsCode": "\nconst row = Array.isArray($items('Supabase Insert Payment', 0, 0)?.[0]?.json) ? $items('Supabase Insert Payment', 0, 0)[0].json[0] : ($items('Supabase Insert Payment', 0, 0)?.[0]?.json?.[0] || $items('Supabase Insert Payment', 0, 0)?.[0]?.json || {});\nconst provider = $json;\nreturn [{\n  json: {\n    payment_row_id: row.id || row[0]?.id || null,\n    telegram_user_id: row.telegram_user_id || $item(0).$node['Resolve Upsell Yes'].json.telegram_user_id,\n    telegram_chat_id: row.telegram_chat_id || $item(0).$node['Resolve Upsell Yes'].json.telegram_chat_id,\n    package_key: row.package_key || $item(0).$node['Resolve Upsell Yes'].json.package_key,\n    package_label: row.package_label || $item(0).$node['Resolve Upsell Yes'].json.package_label,\n    amount: row.amount || $item(0).$node['Resolve Upsell Yes'].json.amount,\n    provider_payment_id: provider.id || '',\n    provider_status: provider.status || 'pending',\n    confirmation_url: provider.confirmation?.confirmation_url || '',\n    return_url: $node[\"App Config\"].json.PAYMENT_RETURN_URL,\n    event_type: 'payment_pending'\n  }\n}];\n"}, "id": "350b44ab-b181-41af-8d22-3d710f7b3326", "name": "Build Payment Pending Update", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [1328, 2480]}, {"parameters": {"method": "PATCH", "url": "={{ $node[\"App Config\"].json.SUPABASE_REST_URL + '/payments?id=eq.' + $json.payment_row_id }}", "sendHeaders": true, "headerParameters": {"parameters": [{"name": "apikey", "value": "={{ String($node[\"App Config\"].json.SUPABASE_SERVICE_ROLE_KEY || \"\").trim() }}"}, {"name": "Authorization", "value": "={{ \"Bearer \" + String($node[\"App Config\"].json.SUPABASE_SERVICE_ROLE_KEY || \"\").trim() }}"}, {"name": "Content-Type", "value": "application/json"}, {"name": "Prefer", "value": "return=representation"}]}, "sendBody": true, "specifyBody": "json", "jsonBody": "={{ { provider_payment_id: $json.provider_payment_id, provider_status: $json.provider_status, confirmation_url: $json.confirmation_url, return_url: $json.return_url, status: 'pending', metadata: { provider_payment_id: $json.provider_payment_id, confirmation_url: $json.confirmation_url } } }}", "options": {}}, "id": "47e3fc1d-d074-46af-8b80-f15d4f23ecd9", "name": "Supabase Update Payment Pending", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [1568, 2480], "onError": "continueRegularOutput"}, {"parameters": {"method": "PATCH", "url": "={{ $node[\"App Config\"].json.SUPABASE_REST_URL + '/users?telegram_user_id=eq.' + $json.telegram_user_id }}", "sendHeaders": true, "headerParameters": {"parameters": [{"name": "apikey", "value": "={{ String($node[\"App Config\"].json.SUPABASE_SERVICE_ROLE_KEY || \"\").trim() }}"}, {"name": "Authorization", "value": "={{ \"Bearer \" + String($node[\"App Config\"].json.SUPABASE_SERVICE_ROLE_KEY || \"\").trim() }}"}, {"name": "Content-Type", "value": "application/json"}, {"name": "Prefer", "value": "return=representation"}]}, "sendBody": true, "specifyBody": "json", "jsonBody": "={{ { state: 'waiting_payment', payment_state: 'waiting_payment', upsell_offered: true, upsell_clicked: true, updated_at: new Date().toISOString() } }}", "options": {}}, "id": "48c456dc-9cc2-4b1a-9466-ba038f96616f", "name": "Supabase Update User Waiting Payment", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [1808, 2480], "onError": "continueRegularOutput"}, {"parameters": {"method": "POST", "url": "={{ $node[\"App Config\"].json.SUPABASE_REST_URL + '/events' }}", "sendHeaders": true, "headerParameters": {"parameters": [{"name": "apikey", "value": "={{ String($node[\"App Config\"].json.SUPABASE_SERVICE_ROLE_KEY || \"\").trim() }}"}, {"name": "Authorization", "value": "={{ \"Bearer \" + String($node[\"App Config\"].json.SUPABASE_SERVICE_ROLE_KEY || \"\").trim() }}"}, {"name": "Content-Type", "value": "application/json"}]}, "sendBody": true, "specifyBody": "json", "jsonBody": "={{ [ { telegram_user_id: $json.telegram_user_id, telegram_chat_id: $json.telegram_chat_id, event_type: 'payment_pending', event_source: 'payments_v3', payload: { package_key: $json.package_key, provider_payment_id: $json.provider_payment_id, amount: $json.amount } } ] }}", "options": {}}, "id": "9fb50735-d608-4188-b139-340ce9e5bd9e", "name": "Supabase Insert Event Payment Pending", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [2048, 2480], "onError": "continueRegularOutput"}, {"parameters": {"httpMethod": "POST", "path": "ch-spa-payment-webhook", "options": {}}, "id": "51090ed5-a35d-4d17-9fff-d530b3cdc9b7", "name": "Payment Webhook", "type": "n8n-nodes-base.webhook", "typeVersion": 2, "position": [-784, 2720], "webhookId": "801953a7-002b-4d6f-9884-82c0575c6be2"}, {"parameters": {"jsCode": "\nconst body = $json;\nconst event = body.event || '';\nconst object = body.object || {};\nreturn [{\n  json: {\n    raw: body,\n    provider: 'yookassa',\n    webhook_event: event,\n    provider_payment_id: object.id || '',\n    provider_status: object.status || '',\n    paid: event === 'payment.succeeded',\n    amount_minor: object.amount?.value ? Math.round(Number(object.amount.value) * 100) : 0,\n    telegram_user_id: Number(object.metadata?.telegram_user_id || 0),\n    telegram_chat_id: Number(object.metadata?.telegram_chat_id || 0),\n    package_key: object.metadata?.package_key || ''\n  }\n}];\n"}, "id": "a72859fa-6a61-4f57-8ca9-e129d28f9ae1", "name": "Parse Payment Webhook", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [-544, 2720]}, {"parameters": {"mode": "expression", "numberOutputs": 2, "output": "={{ $json.paid === true ? 0 : 1 }}"}, "id": "900b19a1-6596-4415-9aec-a001e7057a82", "name": "Payment Webhook Router", "type": "n8n-nodes-base.switch", "typeVersion": 3.2, "position": [-304, 2720]}, {"parameters": {"method": "PATCH", "url": "={{ $node[\"App Config\"].json.SUPABASE_REST_URL + '/payments?provider_payment_id=eq.' + $json.provider_payment_id }}", "sendHeaders": true, "headerParameters": {"parameters": [{"name": "apikey", "value": "={{ String($node[\"App Config\"].json.SUPABASE_SERVICE_ROLE_KEY || \"\").trim() }}"}, {"name": "Authorization", "value": "={{ \"Bearer \" + String($node[\"App Config\"].json.SUPABASE_SERVICE_ROLE_KEY || \"\").trim() }}"}, {"name": "Content-Type", "value": "application/json"}, {"name": "Prefer", "value": "return=representation"}]}, "sendBody": true, "specifyBody": "json", "jsonBody": "={{ { status: 'paid', provider_status: $json.provider_status, paid_at: new Date().toISOString(), metadata: $json.raw } }}", "options": {}}, "id": "720b7862-9914-47fb-8c04-a6917d504a36", "name": "Supabase Update Payment Paid", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [-64, 2672], "onError": "continueRegularOutput"}, {"parameters": {"method": "PATCH", "url": "={{ $node[\"App Config\"].json.SUPABASE_REST_URL + '/users?telegram_user_id=eq.' + $json.telegram_user_id }}", "sendHeaders": true, "headerParameters": {"parameters": [{"name": "apikey", "value": "={{ String($node[\"App Config\"].json.SUPABASE_SERVICE_ROLE_KEY || \"\").trim() }}"}, {"name": "Authorization", "value": "={{ \"Bearer \" + String($node[\"App Config\"].json.SUPABASE_SERVICE_ROLE_KEY || \"\").trim() }}"}, {"name": "Content-Type", "value": "application/json"}, {"name": "Prefer", "value": "return=representation"}]}, "sendBody": true, "specifyBody": "json", "jsonBody": "={{ { state: 'paid', payment_state: 'paid', upsell_paid: true, updated_at: new Date().toISOString() } }}", "options": {}}, "id": "84228945-f742-4e16-b4fd-774f752a6f14", "name": "Supabase Update User Paid", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [192, 2672], "onError": "continueRegularOutput"}, {"parameters": {"method": "POST", "url": "={{ $node[\"App Config\"].json.SUPABASE_REST_URL + '/events' }}", "sendHeaders": true, "headerParameters": {"parameters": [{"name": "apikey", "value": "={{ String($node[\"App Config\"].json.SUPABASE_SERVICE_ROLE_KEY || \"\").trim() }}"}, {"name": "Authorization", "value": "={{ \"Bearer \" + String($node[\"App Config\"].json.SUPABASE_SERVICE_ROLE_KEY || \"\").trim() }}"}, {"name": "Content-Type", "value": "application/json"}]}, "sendBody": true, "specifyBody": "json", "jsonBody": "={{ [ { telegram_user_id: $json.telegram_user_id, telegram_chat_id: $json.telegram_chat_id, event_type: 'payment_paid', event_source: 'payment_webhook_v3', payload: { provider_payment_id: $json.provider_payment_id, package_key: $json.package_key, amount: $json.amount_minor } } ] }}", "options": {}}, "id": "5bebe36c-1a5c-4fb2-9daf-03c1c59f9455", "name": "Supabase Insert Event Payment Paid", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [432, 2672], "onError": "continueRegularOutput"}, {"parameters": {"chatId": "={{ $json.telegram_chat_id }}", "text": "={{ '✅ Оплата подтверждена\\n\\nСпасибо! Апгрейд активирован. Бонусы и следующий шаг уже доступны.' }}", "additionalFields": {"appendAttribution": false, "disable_web_page_preview": true, "parse_mode": "HTML"}}, "id": "f4cb642e-0533-4d46-afb7-7beb74a6d523", "name": "Send Payment Success", "type": "n8n-nodes-base.telegram", "typeVersion": 1, "position": [672, 2672], "webhookId": "63a280e8-9285-40e0-b4c5-2be937370364", "credentials": {"telegramApi": {"id": "mMWjCEIMAWSDgVY1", "name": "Telegram account"}}}, {"parameters": {"method": "PATCH", "url": "={{ $node[\"App Config\"].json.SUPABASE_REST_URL + '/payments?provider_payment_id=eq.' + $json.provider_payment_id }}", "sendHeaders": true, "headerParameters": {"parameters": [{"name": "apikey", "value": "={{ String($node[\"App Config\"].json.SUPABASE_SERVICE_ROLE_KEY || \"\").trim() }}"}, {"name": "Authorization", "value": "={{ \"Bearer \" + String($node[\"App Config\"].json.SUPABASE_SERVICE_ROLE_KEY || \"\").trim() }}"}, {"name": "Content-Type", "value": "application/json"}]}, "sendBody": true, "specifyBody": "json", "jsonBody": "={{ { status: 'failed', provider_status: $json.provider_status, metadata: $json.raw } }}", "options": {}}, "id": "d6b57607-6421-4b37-8ad5-094f28f4b940", "name": "Supabase Update Payment Failed", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [-64, 2784], "onError": "continueRegularOutput"}, {"parameters": {"method": "POST", "url": "={{ $node[\"App Config\"].json.SUPABASE_REST_URL + '/events' }}", "sendHeaders": true, "headerParameters": {"parameters": [{"name": "apikey", "value": "={{ String($node[\"App Config\"].json.SUPABASE_SERVICE_ROLE_KEY || \"\").trim() }}"}, {"name": "Authorization", "value": "={{ \"Bearer \" + String($node[\"App Config\"].json.SUPABASE_SERVICE_ROLE_KEY || \"\").trim() }}"}, {"name": "Content-Type", "value": "application/json"}]}, "sendBody": true, "specifyBody": "json", "jsonBody": "={{ [ { telegram_user_id: $json.telegram_user_id, telegram_chat_id: $json.telegram_chat_id, event_type: 'payment_failed', event_source: 'payment_webhook_v3', payload: { provider_payment_id: $json.provider_payment_id, provider_status: $json.provider_status } } ] }}", "options": {}}, "id": "00336efe-4305-4730-a8ad-3ae5def5427f", "name": "Supabase Insert Event Payment Failed", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [192, 2784], "onError": "continueRegularOutput"}, {"parameters": {"jsCode": "const store = $getWorkflowStaticData('global');\nstore.users = store.users || {};\nstore.submissions = store.submissions || {};\n\nconst submissionId = $json.submissionId;\nif (!submissionId) {\n  throw new Error('submissionId not found');\n}\n\nconst submission = store.submissions[submissionId] || {\n  submissionId,\n  userChatId: $json.userChatId,\n  levelKey: $json.levelKey,\n  levelLabel: $json.levelLabel,\n  giftValue: $json.giftValue || 0,\n  phone: $json.phone || '',\n  photoFileId: $json.photoFileId || '',\n  status: 'pending',\n  createdAt: new Date().toISOString()\n};\n\nsubmission.status = 'approved';\nsubmission.reviewedAt = new Date().toISOString();\nsubmission.reviewerId = 'auto';\nstore.submissions[submissionId] = submission;\n\nconst userKey = String(submission.userChatId);\nconst user = store.users[userKey] || { chatId: submission.userChatId };\nuser.previousState = user.state || 'waiting_purchase_review';\nuser.state = 'purchase_approved';\nuser.currentFlow = 'review';\nuser.stepLabel = 'Покупка одобрена автоматически';\nuser.giftsUnlocked = true;\nuser.lastApprovedSubmissionId = submissionId;\nuser.updatedAt = new Date().toISOString();\nstore.users[userKey] = user;\n\nconst giftsByLevel = {\n  standard: [\n    { title: '🎁 Фейсфитнес mini', url: `https://example.com/facefit?sub=${submissionId}` },\n    { title: '🎁 Йога для тела', url: `https://example.com/yoga?sub=${submissionId}` },\n    { title: '🎁 Уход и сияние', url: `https://example.com/beauty?sub=${submissionId}` }\n  ],\n  premium: [\n    { title: '💎 Пилатес Premium', url: `https://example.com/pilates?sub=${submissionId}` },\n    { title: '💎 Нутри-детокс', url: `https://example.com/nutri?sub=${submissionId}` },\n    { title: '💎 Самооценка и ресурс', url: `https://example.com/mindset?sub=${submissionId}` }\n  ],\n  vip: [\n    { title: '👑 VIP Beauty Reset', url: `https://example.com/vip-beauty?sub=${submissionId}` },\n    { title: '👑 Телесный антистресс', url: `https://example.com/body-reset?sub=${submissionId}` },\n    { title: '👑 Энергия и женственность', url: `https://example.com/woman-power?sub=${submissionId}` }\n  ]\n};\n\nreturn [{\n  json: {\n    submissionId,\n    userChatId: submission.userChatId,\n    giftValue: submission.giftValue || 0,\n    gifts: giftsByLevel[submission.levelKey] || [],\n    reviewOfferText: 'Хочешь получить дополнительный подарок?\\n\\nОставь отзыв на маркетплейсе и получи ещё один бонус 👇'\n  }\n}];"}, "id": "ed993d65-5cbf-4c14-ba65-8bdc0ac2a86b", "name": "Auto Approve Purchase", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [240, 832]}], "connections": {"Telegram Trigger": {"main": [[{"node": "App Config", "type": "main", "index": 0}]]}, "Upsert User": {"main": [[{"node": "Supabase Upsert User", "type": "main", "index": 0}, {"node": "Router", "type": "main", "index": 0}]]}, "Router": {"main": [[{"node": "Set Start State", "type": "main", "index": 0}], [{"node": "Mark Awaiting Subscription", "type": "main", "index": 0}], [{"node": "Mark Awaiting Contact", "type": "main", "index": 0}], [{"node": "Save Contact", "type": "main", "index": 0}], [{"node": "Save Package Standard", "type": "main", "index": 0}], [{"node": "Save Package Premium", "type": "main", "index": 0}], [{"node": "Save Package VIP", "type": "main", "index": 0}], [{"node": "Save Photo", "type": "main", "index": 0}], [{"node": "Resolve Approve", "type": "main", "index": 0}], [{"node": "Resolve Reject", "type": "main", "index": 0}], [{"node": "Set Awaiting Marketplace", "type": "main", "index": 0}], [{"node": "Save Marketplace", "type": "main", "index": 0}], [{"node": "Save Review Screenshot", "type": "main", "index": 0}], [{"node": "Save Review Product Photo", "type": "main", "index": 0}], [{"node": "Resolve Review Approve", "type": "main", "index": 0}], [{"node": "Resolve Review Reject", "type": "main", "index": 0}], [{"node": "Build Status Message", "type": "main", "index": 0}], [{"node": "Build Back Message", "type": "main", "index": 0}], [{"node": "Build Continue Message", "type": "main", "index": 0}], [{"node": "Reset User State", "type": "main", "index": 0}], [{"node": "Build Help Message", "type": "main", "index": 0}], [{"node": "Build Export CSV", "type": "main", "index": 0}], [{"node": "Build Broadcast Items", "type": "main", "index": 0}, {"node": "Build Admin Stats", "type": "main", "index": 0}, {"node": "Build User Lookup", "type": "main", "index": 0}], [{"node": "Resolve Upsell Yes", "type": "main", "index": 0}], [{"node": "Resolve Upsell No", "type": "main", "index": 0}]]}, "Set Start State": {"main": [[{"node": "Start Welcome", "type": "main", "index": 0}]]}, "Mark Awaiting Subscription": {"main": [[{"node": "Ask Subscription", "type": "main", "index": 0}]]}, "Mark Awaiting Contact": {"main": [[{"node": "Ask Contact", "type": "main", "index": 0}]]}, "Save Contact": {"main": [[{"node": "Ask Package", "type": "main", "index": 0}]]}, "Save Package Standard": {"main": [[{"node": "Ask For Photo", "type": "main", "index": 0}]]}, "Save Package Premium": {"main": [[{"node": "Ask For Photo", "type": "main", "index": 0}]]}, "Save Package VIP": {"main": [[{"node": "Ask For Photo", "type": "main", "index": 0}]]}, "Save Photo": {"main": [[{"node": "Prepare Submission", "type": "main", "index": 0}]]}, "Prepare Submission": {"main": [[{"node": "Auto Approve Purchase", "type": "main", "index": 0}, {"node": "Supabase Insert Purchase Submission", "type": "main", "index": 0}, {"node": "Supabase Update User Purchase Review", "type": "main", "index": 0}]]}, "Resolve Approve": {"main": [[{"node": "Send Approved Gifts", "type": "main", "index": 0}, {"node": "Build Upsell Offer", "type": "main", "index": 0}]]}, "Resolve Reject": {"main": [[{"node": "Send Reject Message", "type": "main", "index": 0}]]}, "Build Status Message": {"main": [[{"node": "Send Status Message", "type": "main", "index": 0}]]}, "Reset User State": {"main": [[{"node": "Send Reset Message", "type": "main", "index": 0}]]}, "Build Help Message": {"main": [[{"node": "Send Help Message", "type": "main", "index": 0}]]}, "Build Continue Message": {"main": [[{"node": "Send Continue Message", "type": "main", "index": 0}]]}, "Build Back Message": {"main": [[{"node": "Send Back Message", "type": "main", "index": 0}]]}, "Build Export CSV": {"main": [[{"node": "Send Export CSV", "type": "main", "index": 0}]]}, "Build Broadcast Items": {"main": [[{"node": "Broadcast Message", "type": "main", "index": 0}]]}, "Build Admin Stats": {"main": [[{"node": "Send Admin Stats", "type": "main", "index": 0}]]}, "Build User Lookup": {"main": [[{"node": "Send User Lookup", "type": "main", "index": 0}]]}, "Set Awaiting Marketplace": {"main": [[{"node": "Send Marketplace Step", "type": "main", "index": 0}]]}, "Save Marketplace": {"main": [[{"node": "Send Review Screenshot Step", "type": "main", "index": 0}]]}, "Save Review Screenshot": {"main": [[{"node": "Send Review Product Photo Step", "type": "main", "index": 0}]]}, "Save Review Product Photo": {"main": [[{"node": "Send User Waiting Review", "type": "main", "index": 0}, {"node": "Send Review Submission To Managers", "type": "main", "index": 0}]]}, "Resolve Review Approve": {"main": [[{"node": "Send Review Approved Bonus", "type": "main", "index": 0}]]}, "Resolve Review Reject": {"main": [[{"node": "Send Review Reject Message", "type": "main", "index": 0}]]}, "App Config": {"main": [[{"node": "Upsert User", "type": "main", "index": 0}]]}, "Resolve Upsell Yes": {"main": [[{"node": "Supabase Insert Payment", "type": "main", "index": 0}]]}, "Resolve Upsell No": {"main": [[{"node": "Send Upsell No", "type": "main", "index": 0}]]}, "Warmup Cron": {"main": [[{"node": "Build Warmup Queue", "type": "main", "index": 0}]]}, "Build Warmup Queue": {"main": [[{"node": "Warmup Router", "type": "main", "index": 0}]]}, "Warmup Router": {"main": [[{"node": "Send Followup Subscription", "type": "main", "index": 0}], [{"node": "Send Followup Contact", "type": "main", "index": 0}], [{"node": "Send Followup Package", "type": "main", "index": 0}], [{"node": "Send Followup Photo", "type": "main", "index": 0}], [{"node": "Send Followup Review", "type": "main", "index": 0}], [{"node": "Send Followup Upsell", "type": "main", "index": 0}]]}, "Supabase Insert Payment": {"main": [[{"node": "YooKassa Create Payment", "type": "main", "index": 0}]]}, "YooKassa Create Payment": {"main": [[{"node": "Build Payment Pending Update", "type": "main", "index": 0}]]}, "Build Payment Pending Update": {"main": [[{"node": "Supabase Update Payment Pending", "type": "main", "index": 0}]]}, "Supabase Update Payment Pending": {"main": [[{"node": "Supabase Update User Waiting Payment", "type": "main", "index": 0}]]}, "Supabase Update User Waiting Payment": {"main": [[{"node": "Supabase Insert Event Payment Pending", "type": "main", "index": 0}]]}, "Supabase Insert Event Payment Pending": {"main": [[{"node": "Send Upsell Payment", "type": "main", "index": 0}]]}, "Payment Webhook": {"main": [[{"node": "Parse Payment Webhook", "type": "main", "index": 0}]]}, "Parse Payment Webhook": {"main": [[{"node": "Payment Webhook Router", "type": "main", "index": 0}]]}, "Payment Webhook Router": {"main": [[{"node": "Supabase Update Payment Paid", "type": "main", "index": 0}], [{"node": "Supabase Update Payment Failed", "type": "main", "index": 0}]]}, "Supabase Update Payment Paid": {"main": [[{"node": "Supabase Update User Paid", "type": "main", "index": 0}]]}, "Supabase Update User Paid": {"main": [[{"node": "Supabase Insert Event Payment Paid", "type": "main", "index": 0}]]}, "Supabase Insert Event Payment Paid": {"main": [[{"node": "Send Payment Success", "type": "main", "index": 0}]]}, "Supabase Update Payment Failed": {"main": [[{"node": "Supabase Insert Event Payment Failed", "type": "main", "index": 0}]]}, "Auto Approve Purchase": {"main": [[{"node": "Send Approved Gifts", "type": "main", "index": 0}]]}}, "settings": {"executionOrder": "v1", "binaryMode": "separate"}, "staticData": {"global": {"users": {"596841236": {"chatId": 596841236, "username": "vandernetia", "firstName": "Валентина", "lastName": "Андреева", "phone": "", "state": "start", "previousState": "new", "selectedLevelKey": "", "selectedLevelLabel": "", "giftValue": 0, "lastPhoto": null, "lastSubmissionId": null, "lastApprovedSubmissionId": null, "currentFlow": "purchase", "currentReviewId": null, "giftsUnlocked": false, "createdAt": "2026-04-18T00:05:57.212Z", "updatedAt": "2026-04-18T00:05:57.287Z", "lastSeenAt": "2026-04-18T00:05:57.212Z", "lastMessageText": "/start", "lastCallbackData": "", "stepLabel": "Главное меню", "source": "telegram"}, "1207565928": {"chatId": 1207565928, "username": "Feliks_kzn", "firstName": "Феликс", "lastName": "", "phone": "79375799997", "state": "approved", "previousState": "waiting_review", "selectedLevelKey": "vip", "selectedLevelLabel": "VIP: 1+2+5 варежек (11000 руб.)", "giftValue": 11000, "lastPhoto": {"fileId": "AgACAgIAAxkBAANIaeB3l8qhMyU_UqI6a3KF5fKikIoAAmISaxvq_whLoqNF1THStxIBAAMCAAN5AAM7BA", "fileUniqueId": "AQADYhJrG-r_CEt-", "savedAt": "2026-04-16T05:45:59.391Z"}, "lastSubmissionId": "smo1236216bnh", "lastApprovedSubmissionId": "smo1236216bnh", "giftsUnlocked": true, "createdAt": "2026-04-16T05:45:13.700Z", "updatedAt": "2026-04-16T06:04:49.645Z", "lastSeenAt": "2026-04-16T05:48:24.799Z", "lastMessageText": "📍 Мой статус", "lastCallbackData": "SUB_CONFIRMED", "stepLabel": "Подарки открыты", "source": "telegram"}, "7260765133": {"chatId": 7260765133, "username": "Felix_3999", "firstName": "Феликс", "lastName": "", "phone": "+79372993999", "state": "awaiting_photo", "previousState": "awaiting_package", "selectedLevelKey": "vip", "selectedLevelLabel": "VIP: 1+2+5 варежек (11000 руб.)", "giftValue": 11000, "lastPhoto": null, "lastSubmissionId": null, "lastApprovedSubmissionId": "smo3vivfhxkm7", "currentFlow": "review", "currentReviewId": null, "giftsUnlocked": false, "subscriptionConfirmed": true, "purchaseStatus": "none", "bonusAccess": "locked", "createdAt": "2026-04-16T00:20:41.765Z", "updatedAt": "2026-04-19T07:23:20.158Z", "lastSeenAt": "2026-04-19T07:23:20.131Z", "lastMessageText": "VIP: 1+2+5 варежек (11000 руб.)", "lastCallbackData": "SUB_CONFIRMED", "stepLabel": "Ожидаем фото", "source": "telegram"}, "-1003989386408": {"chatId": -1003989386408, "username": "Felix_3999", "firstName": "Феликс", "lastName": "", "phone": "", "state": "awaiting_subscription", "previousState": "awaiting_subscription", "selectedLevelKey": "", "selectedLevelLabel": "", "giftValue": 0, "lastPhoto": null, "lastSubmissionId": null, "lastApprovedSubmissionId": null, "currentFlow": "purchase", "currentReviewId": null, "giftsUnlocked": false, "subscriptionConfirmed": false, "purchaseStatus": "none", "bonusAccess": "locked", "createdAt": "2026-04-16T04:05:19.860Z", "updatedAt": "2026-04-19T07:33:11.577Z", "lastSeenAt": "2026-04-19T07:33:11.577Z", "lastMessageText": "▶️ Продолжить", "lastCallbackData": "APPROVE|smo5g7p4eoh1p", "stepLabel": "Подписка на группу", "source": "telegram"}, "5316836852": {"chatId": 5316836852, "username": "Tatyana_557799", "firstName": "Татьяна", "lastName": "", "phone": "", "state": "awaiting_subscription", "previousState": "start", "selectedLevelKey": "", "selectedLevelLabel": "", "giftValue": 0, "lastPhoto": null, "lastSubmissionId": null, "lastApprovedSubmissionId": null, "giftsUnlocked": false, "createdAt": "2026-04-16T13:33:21.244Z", "updatedAt": "2026-04-16T13:33:46.273Z", "lastSeenAt": "2026-04-16T13:33:46.264Z", "lastMessageText": "/start", "lastCallbackData": "START_FLOW", "stepLabel": "Подписка на группу", "source": "telegram"}, "6015759217": {"chatId": 6015759217, "username": "copsdfd", "firstName": "Комп", "lastName": "", "phone": "+201507388419", "state": "completed", "previousState": "waiting_purchase_review", "selectedLevelKey": "standard", "selectedLevelLabel": "1 варежка (3000 руб.)", "giftValue": 3000, "lastPhoto": {"fileId": "AgACAgQAAxkBAAIBvGnkhQ1-nirLr70953psHVMeXP75AAJuDGsbZ5spU7zytEPjbHONAQADAgADeQADOwQ", "fileUniqueId": "AQADbgxrG2ebKVN-", "sourceType": "message.photo", "savedAt": "2026-04-19T07:32:30.039Z"}, "lastSubmissionId": "smo5g7p4eoh1p", "lastApprovedSubmissionId": "smo5g7p4eoh1p", "currentFlow": "review", "currentReviewId": null, "giftsUnlocked": true, "subscriptionConfirmed": true, "purchaseStatus": "approved", "bonusAccess": "unlocked", "createdAt": "2026-04-19T07:31:45.919Z", "updatedAt": "2026-04-19T07:32:54.677Z", "lastSeenAt": "2026-04-19T07:32:30.008Z", "lastMessageText": "1 варежка (3000 руб.)", "lastCallbackData": "SUB_CONFIRMED", "stepLabel": "completed", "source": "telegram"}}, "meta": {"version": "9.0"}, "submissions": {"smo0wop3ze3nd": {"submissionId": "smo0wop3ze3nd", "status": "approved", "userChatId": 7260765133, "username": "Felix_3999", "firstName": "Феликс", "levelKey": "vip", "levelLabel": "VIP: 1+2+5 варежек (11000 руб.)", "giftValue": 11000, "phone": "89375799997", "photoFileId": "AgACAgIAAxkBAANdaeBUJpHYr_-Zp2AJXMG2qrwC2t8AAs8UaxviNQABS-5nsf0GX_i3AQADAgADeQADOwQ", "createdAt": "2026-04-16T03:14:46.175Z", "reviewedAt": "2026-04-16T03:15:18.772Z", "reviewerId": "7260765133"}, "smo11kylymrsc": {"submissionId": "smo11kylymrsc", "status": "approved", "userChatId": 7260765133, "username": "Felix_3999", "firstName": "Феликс", "levelKey": "premium", "levelLabel": "1+2 варежки (7000 руб.)", "giftValue": 7000, "phone": "893757222223", "photoFileId": "AgACAgIAAxkBAAM7aeB0RepvH0wKVkGVyYoFrt8_N0cAAiYRaxtrZwlLU4QW6BA4JZgBAAMCAAN5AAM7BA", "createdAt": "2026-04-16T05:31:49.942Z", "reviewedAt": "2026-04-16T05:36:57.719Z", "reviewerId": "7260765133"}, "smo1236216bnh": {"submissionId": "smo1236216bnh", "status": "approved", "userChatId": 1207565928, "username": "Feliks_kzn", "firstName": "Феликс", "levelKey": "vip", "levelLabel": "VIP: 1+2+5 варежек (11000 руб.)", "giftValue": 11000, "phone": "79375799997", "photoFileId": "AgACAgIAAxkBAANIaeB3l8qhMyU_UqI6a3KF5fKikIoAAmISaxvq_whLoqNF1THStxIBAAMCAAN5AAM7BA", "createdAt": "2026-04-16T05:45:59.401Z", "reviewedAt": "2026-04-16T06:04:49.645Z", "reviewerId": "7260765133"}, "smo3gxvmj4sdd": {"submissionId": "smo3gxvmj4sdd", "status": "reset", "userChatId": 7260765133, "username": "Felix_3999", "firstName": "Феликс", "levelKey": "premium", "levelLabel": "1+2 варежки (7000 руб.)", "giftValue": 7000, "phone": "77777777773", "photoFileId": "AgACAgIAAxkBAAOPaeKxbo30cWt5bAYZCblVz5FS5qAAAm4TaxvmgBlLC00ffDn_lhYBAAMCAAN5AAM7BA", "createdAt": "2026-04-17T22:17:19.195Z", "updatedAt": "2026-04-18T02:27:31.605Z"}, "smo3h1xn9jct7": {"submissionId": "smo3h1xn9jct7", "status": "reset", "userChatId": 7260765133, "username": "Felix_3999", "firstName": "Феликс", "levelKey": "vip", "levelLabel": "VIP: 1+2+5 варежек (11000 руб.)", "giftValue": 11000, "phone": "7777777779578", "photoFileId": "AgACAgIAAxkBAAOPaeKxbo30cWt5bAYZCblVz5FS5qAAAm4TaxvmgBlLC00ffDn_lhYBAAMCAAN5AAM7BA", "createdAt": "2026-04-17T22:20:28.437Z", "updatedAt": "2026-04-18T02:27:31.605Z"}, "smo3iw6azfr8c": {"submissionId": "smo3iw6azfr8c", "status": "approved", "userChatId": 7260765133, "username": "Felix_3999", "firstName": "Феликс", "levelKey": "premium", "levelLabel": "1+2 варежки (7000 руб.)", "giftValue": 7000, "phone": "1111111111111", "photoFileId": "AgACAgIAAxkBAAO1aeK-PhxYJ9SMOhaEkl-XlkM1nm0AAukQaxs1JBlLOk0W5qOSToIBAAMCAAN4AAM7BA", "createdAt": "2026-04-17T23:11:58.955Z", "reviewedAt": "2026-04-17T23:11:59.009Z", "reviewerId": "auto"}, "smo3izkdd5wyx": {"submissionId": "smo3izkdd5wyx", "status": "approved", "userChatId": 7260765133, "username": "Felix_3999", "firstName": "Феликс", "levelKey": "vip", "levelLabel": "VIP: 1+2+5 варежек (11000 руб.)", "giftValue": 11000, "phone": "11111111111113", "photoFileId": "AgACAgIAAxkBAAPEaeK-lDsz_g2MBfJU8richVDKvgAD6hBrGzUkGUsBS0DxRAzJEQEAAwIAA3kAAzsE", "createdAt": "2026-04-17T23:14:37.153Z", "reviewedAt": "2026-04-17T23:14:37.180Z", "reviewerId": "auto"}, "smo3jyqtvkmm9": {"submissionId": "smo3jyqtvkmm9", "status": "approved", "userChatId": 7260765133, "username": "Felix_3999", "firstName": "Феликс", "levelKey": "vip", "levelLabel": "VIP: 1+2+5 варежек (11000 руб.)", "giftValue": 11000, "phone": "222222222222", "photoFileId": "AgACAgIAAxkBAAIBFGnixUbb-SHZweO3QMvkV3Hh6PjWAAKpEmsbfP0YS3MGJUV94qGjAQADAgADeQADOwQ", "createdAt": "2026-04-17T23:41:58.483Z", "reviewedAt": "2026-04-17T23:41:58.527Z", "reviewerId": "auto"}, "smo3laze495zd": {"submissionId": "smo3laze495zd", "status": "approved", "userChatId": 7260765133, "username": "Felix_3999", "firstName": "Феликс", "levelKey": "vip", "levelLabel": "VIP: 1+2+5 варежек (11000 руб.)", "giftValue": 11000, "phone": "+79372993999", "photoFileId": "AgACAgIAAxkBAAIBJ2nizhCi5XpERp17CYj0aC0h3i00AAKsEmsbfP0YS_JMvsk4jaItAQADAgADeQADOwQ", "createdAt": "2026-04-18T00:19:29.068Z", "reviewedAt": "2026-04-18T00:19:29.097Z", "reviewerId": "auto"}, "smo3n090zqb04": {"submissionId": "smo3n090zqb04", "status": "approved", "userChatId": 7260765133, "username": "Felix_3999", "firstName": "Феликс", "levelKey": "vip", "levelLabel": "VIP: 1+2+5 варежек (11000 руб.)", "giftValue": 11000, "phone": "+79372993999", "photoFileId": "AgACAgIAAxkBAAPoaeLZO6sW_Ahvh25b31f8M6jFAgwAAggRaxs1JBlLhCEmoWYJBKMBAAMCAAN5AAM7BA", "createdAt": "2026-04-18T01:07:07.571Z", "reviewedAt": "2026-04-18T01:07:07.645Z", "reviewerId": "auto"}, "smo3nsj3g3kd5": {"submissionId": "smo3nsj3g3kd5", "status": "reset", "userChatId": 7260765133, "username": "Felix_3999", "firstName": "Феликс", "levelKey": "vip", "levelLabel": "VIP: 1+2+5 варежек (11000 руб.)", "giftValue": 11000, "phone": "+79372993999", "photoFileId": "AgACAgIAAxkBAAIBOWni3mApDG7816UY2bW8wCSx9SaKAALEEmsbfP0YS1fkcolVg8ACAQADAgADeQADOwQ", "createdAt": "2026-04-18T01:29:06.988Z", "updatedAt": "2026-04-18T02:27:31.605Z"}, "smo3oj15y8r9q": {"submissionId": "smo3oj15y8r9q", "status": "approved", "userChatId": 7260765133, "username": "Felix_3999", "firstName": "Феликс", "levelKey": "vip", "levelLabel": "VIP: 1+2+5 варежек (11000 руб.)", "giftValue": 11000, "phone": "+79372993999", "photoFileId": "AgACAgIAAxkBAAIBJmni4zcs7-nFVCVeiX-zIQ3N3svwAAIOEWsbNSQZSwABnMbGWqdTmwEAAwIAA3kAAzsE", "createdAt": "2026-04-18T01:49:43.463Z", "reviewedAt": "2026-04-18T01:49:59.930Z", "reviewerId": "7260765133"}, "smo3tlvswtko6": {"submissionId": "smo3tlvswtko6", "status": "approved", "userChatId": 7260765133, "username": "Felix_3999", "firstName": "Феликс", "levelKey": "vip", "levelLabel": "VIP: 1+2+5 варежек (11000 руб.)", "giftValue": 11000, "phone": "+79372993999", "photoFileId": "AgACAgIAAxkBAAIBYGnjBIoqMqjJOYqj9C-5vuim6nJMAALtEmsbfP0YS64-TWm32LZcAQADAgADeAADOwQ", "createdAt": "2026-04-18T04:11:54.560Z", "updatedAt": "2026-04-18T04:12:14.378Z", "reviewedAt": "2026-04-18T04:12:14.378Z", "reviewerId": "7260765133"}, "smo3vivfhxkm7": {"submissionId": "smo3vivfhxkm7", "status": "approved", "userChatId": 7260765133, "username": "Felix_3999", "firstName": "Феликс", "levelKey": "vip", "levelLabel": "VIP: 1+2+5 варежек (11000 руб.)", "giftValue": 11000, "phone": "+79372993999", "photoFileId": "AgACAgIAAxkBAAIBjmnjER0yrGIZY_4g5mluDv5lmyGGAAIPE2sbfP0YS_AKq1uRoT6jAQADAgADeQADOwQ", "createdAt": "2026-04-18T05:05:33.341Z", "reviewedAt": "2026-04-18T05:06:00.882Z", "reviewerId": "7260765133"}, "smo3vln6srs08": {"submissionId": "smo3vln6srs08", "status": "reset", "userChatId": 7260765133, "username": "Felix_3999", "firstName": "Феликс", "levelKey": "standard", "levelLabel": "1 варежка (3000 руб.)", "giftValue": 3000, "phone": "+79372993999", "photoFileId": "AgACAgIAAxkBAAIBm2njEZ4h7E-vnailXzw0txx7SOWwAAIQE2sbfP0YSyYrRShB290PAQADAgADeQADOwQ", "createdAt": "2026-04-18T05:07:42.628Z", "updatedAt": "2026-04-19T07:22:38.501Z"}, "smo5g7p4eoh1p": {"submissionId": "smo5g7p4eoh1p", "status": "completed", "userChatId": 6015759217, "username": "copsdfd", "firstName": "Комп", "levelKey": "standard", "levelLabel": "1 варежка (3000 руб.)", "giftValue": 3000, "phone": "+201507388419", "photoFileId": "AgACAgQAAxkBAAIBvGnkhQ1-nirLr70953psHVMeXP75AAJuDGsbZ5spU7zytEPjbHONAQADAgADeQADOwQ", "createdAt": "2026-04-19T07:32:30.062Z", "updatedAt": "2026-04-19T07:32:54.677Z", "reviewedAt": "2026-04-19T07:32:54.677Z", "reviewerId": "7260765133"}}, "events": [{"at": "2026-04-16T00:20:41.765Z", "chatId": 7260765133, "eventType": "text", "text": "/start", "callbackData": ""}, {"at": "2026-04-16T00:20:44.429Z", "chatId": 7260765133, "eventType": "callback", "text": "", "callbackData": "GET_GIFT"}, {"at": "2026-04-16T00:20:49.847Z", "chatId": 7260765133, "eventType": "callback", "text": "", "callbackData": "SUB_CONFIRMED"}, {"at": "2026-04-16T02:19:19.676Z", "chatId": 7260765133, "eventType": "text", "text": "/start", "callbackData": ""}, {"at": "2026-04-16T02:19:35.575Z", "chatId": 7260765133, "eventType": "callback", "text": "", "callbackData": "GET_GIFT"}, {"at": "2026-04-16T02:19:40.135Z", "chatId": 7260765133, "eventType": "text", "text": "/start", "callbackData": ""}, {"at": "2026-04-16T02:20:00.370Z", "chatId": 7260765133, "eventType": "callback", "text": "", "callbackData": "GET_GIFT"}, {"at": "2026-04-16T02:20:06.423Z", "chatId": 7260765133, "eventType": "callback", "text": "", "callbackData": "SUB_CONFIRMED"}, {"at": "2026-04-16T02:20:36.416Z", "chatId": 7260765133, "eventType": "text", "text": "89375799999", "callbackData": ""}, {"at": "2026-04-16T02:20:53.581Z", "chatId": 7260765133, "eventType": "text", "text": "/status", "callbackData": ""}, {"at": "2026-04-16T02:21:20.877Z", "chatId": 7260765133, "eventType": "text", "text": "/start", "callbackData": ""}, {"at": "2026-04-16T02:21:23.666Z", "chatId": 7260765133, "eventType": "callback", "text": "", "callbackData": "GET_GIFT"}, {"at": "2026-04-16T02:21:41.212Z", "chatId": 7260765133, "eventType": "callback", "text": "", "callbackData": "SUB_CONFIRMED"}, {"at": "2026-04-16T02:21:53.719Z", "chatId": 7260765133, "eventType": "text", "text": "89375799999", "callbackData": ""}, {"at": "2026-04-16T02:22:11.618Z", "chatId": 7260765133, "eventType": "text", "text": "/user", "callbackData": ""}, {"at": "2026-04-16T03:07:58.306Z", "chatId": 7260765133, "text": "/start", "callbackData": "", "hasPhoto": false, "hasContact": false}, {"at": "2026-04-16T03:08:05.846Z", "chatId": 7260765133, "text": "/start", "callbackData": "", "hasPhoto": false, "hasContact": false}, {"at": "2026-04-16T03:08:07.952Z", "chatId": 7260765133, "text": "", "callbackData": "START_FLOW", "hasPhoto": false, "hasContact": false}, {"at": "2026-04-16T03:08:21.014Z", "chatId": 7260765133, "text": "", "callbackData": "SUB_CONFIRMED", "hasPhoto": false, "hasContact": false}, {"at": "2026-04-16T03:08:40.665Z", "chatId": 7260765133, "text": "89375799991", "callbackData": "", "hasPhoto": false, "hasContact": false}, {"at": "2026-04-16T03:08:45.760Z", "chatId": 7260765133, "text": "1+2 варежки (7000 руб.)", "callbackData": "", "hasPhoto": false, "hasContact": false}, {"at": "2026-04-16T03:13:36.434Z", "chatId": 7260765133, "text": "/start", "callbackData": "", "hasPhoto": false, "hasContact": false}, {"at": "2026-04-16T03:13:38.542Z", "chatId": 7260765133, "text": "", "callbackData": "START_FLOW", "hasPhoto": false, "hasContact": false}, {"at": "2026-04-16T03:14:00.332Z", "chatId": 7260765133, "text": "", "callbackData": "SUB_CONFIRMED", "hasPhoto": false, "hasContact": false}, {"at": "2026-04-16T03:14:18.498Z", "chatId": 7260765133, "text": "89375799997", "callbackData": "", "hasPhoto": false, "hasContact": false}, {"at": "2026-04-16T03:14:24.031Z", "chatId": 7260765133, "text": "VIP: 1+2+5 варежек (11000 руб.)", "callbackData": "", "hasPhoto": false, "hasContact": false}, {"at": "2026-04-16T03:14:46.159Z", "chatId": 7260765133, "text": "", "callbackData": "", "hasPhoto": true, "hasContact": false}, {"at": "2026-04-16T03:15:18.764Z", "chatId": 7260765133, "text": "", "callbackData": "APPROVE|smo0wop3ze3nd", "hasPhoto": false, "hasContact": false}, {"at": "2026-04-16T03:19:26.380Z", "chatId": 7260765133, "text": "/start", "callbackData": "", "hasPhoto": false, "hasContact": false}, {"at": "2026-04-16T03:19:49.311Z", "chatId": 7260765133, "text": "", "callbackData": "START_FLOW", "hasPhoto": false, "hasContact": false}, {"at": "2026-04-16T03:19:51.570Z", "chatId": 7260765133, "text": "", "callbackData": "SUB_CONFIRMED", "hasPhoto": false, "hasContact": false}, {"at": "2026-04-16T03:20:05.370Z", "chatId": 7260765133, "text": "⬅️ Назад", "callbackData": "", "hasPhoto": false, "hasContact": false}, {"at": "2026-04-16T03:20:09.748Z", "chatId": 7260765133, "text": "📍 Мой статус", "callbackData": "", "hasPhoto": false, "hasContact": false}, {"at": "2026-04-16T03:20:28.087Z", "chatId": 7260765133, "text": "▶️ Продолжить", "callbackData": "", "hasPhoto": false, "hasContact": false}, {"at": "2026-04-16T03:20:37.317Z", "chatId": 7260765133, "text": "🔄 Начать заново", "callbackData": "", "hasPhoto": false, "hasContact": false}, {"at": "2026-04-16T03:20:39.496Z", "chatId": 7260765133, "text": "", "callbackData": "START_FLOW", "hasPhoto": false, "hasContact": false}, {"at": "2026-04-16T03:20:41.456Z", "chatId": 7260765133, "text": "", "callbackData": "SUB_CONFIRMED", "hasPhoto": false, "hasContact": false}, {"at": "2026-04-16T04:05:19.860Z", "chatId": -1003989386408, "text": "", "callbackData": "", "hasPhoto": false, "hasContact": false}, {"at": "2026-04-16T04:05:20.235Z", "chatId": 7260765133, "text": "🔄 Начать заново", "callbackData": "", "hasPhoto": false, "hasContact": false}, {"at": "2026-04-16T04:05:20.555Z", "chatId": 7260765133, "text": "/start", "callbackData": "", "hasPhoto": false, "hasContact": false}, {"at": "2026-04-16T04:05:20.943Z", "chatId": 7260765133, "text": "/start", "callbackData": "", "hasPhoto": false, "hasContact": false}, {"at": "2026-04-16T04:06:25.315Z", "chatId": 7260765133, "text": "🔄 Начать заново", "callbackData": "", "hasPhoto": false, "hasContact": false}, {"at": "2026-04-16T04:09:01.659Z", "chatId": 7260765133, "text": "", "callbackData": "APPROVE|smo0ykae8f27k", "hasPhoto": false, "hasContact": false}, {"at": "2026-04-16T04:10:30.335Z", "chatId": -1003989386408, "text": "вымпсч", "callbackData": "", "hasPhoto": false, "hasContact": false}, {"at": "2026-04-16T04:10:41.685Z", "chatId": -1003989386408, "text": "📍 Мой статус", "callbackData": "", "hasPhoto": false, "hasContact": false}, {"at": "2026-04-16T04:10:56.996Z", "chatId": -1003989386408, "text": "🎁 Получить бонусы", "callbackData": "", "hasPhoto": false, "hasContact": false}, {"at": "2026-04-16T04:10:59.490Z", "chatId": -1003989386408, "text": "", "callbackData": "SUB_CONFIRMED", "hasPhoto": false, "hasContact": false}, {"at": "2026-04-16T04:14:54.205Z", "chatId": -1003989386408, "text": "test", "callbackData": "", "hasPhoto": false, "hasContact": false}, {"at": "2026-04-16T04:17:32.185Z", "chatId": -1003989386408, "text": "👤 Вы\n ├ id: 7260765133\n ├ is_bot: false\n ├ first_name: Феликс\n ├ username: Felix_3999\n ├ language_code: ru (-)\n └ created: ~ 9/2024", "callbackData": "", "hasPhoto": false, "hasContact": false}, {"at": "2026-04-16T04:18:05.322Z", "chatId": -1003989386408, "text": "@userinfobot", "callbackData": "", "hasPhoto": false, "hasContact": false}, {"at": "2026-04-16T04:18:18.875Z", "chatId": -1003989386408, "text": "🎁 Получить бонусы", "callbackData": "", "hasPhoto": false, "hasContact": false}, {"at": "2026-04-16T04:22:50.287Z", "chatId": -1003989386408, "text": "", "callbackData": "", "hasPhoto": false, "hasContact": false}, {"at": "2026-04-16T04:22:58.955Z", "chatId": -1003989386408, "text": "👤 Вы\n ├ id: 7260765133\n ├ is_bot: false\n ├ first_name: Феликс\n ├ username: Felix_3999\n ├ language_code: ru (-)\n └ created: ~ 9/2024", "callbackData": "", "hasPhoto": false, "hasContact": false}, {"at": "2026-04-16T04:23:05.443Z", "chatId": -1003989386408, "text": "👤 Вы\n ├ id: 7260765133\n ├ is_bot: false\n ├ first_name: Феликс\n ├ username: Felix_3999\n ├ language_code: ru (-)\n └ created: ~ 9/2024", "callbackData": "", "hasPhoto": false, "hasContact": false}, {"at": "2026-04-16T04:23:21.543Z", "chatId": -1003989386408, "text": "@userinfobot", "callbackData": "", "hasPhoto": false, "hasContact": false}, {"at": "2026-04-16T04:31:36.503Z", "chatId": -1003989386408, "text": "", "callbackData": "", "hasPhoto": false, "hasContact": false}, {"at": "2026-04-16T04:31:58.804Z", "chatId": -1003989386408, "text": "/admins", "callbackData": "", "hasPhoto": false, "hasContact": false}, {"at": "2026-04-16T04:32:10.014Z", "chatId": -1003989386408, "text": "/admins", "callbackData": "", "hasPhoto": false, "hasContact": false}, {"at": "2026-04-16T04:34:26.654Z", "chatId": 7260765133, "text": "🎁 Получить бонусы", "callbackData": "", "hasPhoto": false, "hasContact": false}, {"at": "2026-04-16T04:34:31.011Z", "chatId": 7260765133, "text": "", "callbackData": "SUB_CONFIRMED", "hasPhoto": false, "hasContact": false}, {"at": "2026-04-16T04:48:15.884Z", "chatId": 7260765133, "text": "/start", "callbackData": "", "hasPhoto": false, "hasContact": false}, {"at": "2026-04-16T04:50:38.219Z", "chatId": 7260765133, "text": "", "callbackData": "", "hasPhoto": true, "hasContact": false}, {"at": "2026-04-16T04:50:46.488Z", "chatId": 7260765133, "text": "▶️ Продолжить", "callbackData": "", "hasPhoto": false, "hasContact": false}, {"at": "2026-04-16T04:50:53.313Z", "chatId": 7260765133, "text": "📍 Мой статус", "callbackData": "", "hasPhoto": false, "hasContact": false}, {"at": "2026-04-16T05:26:58.365Z", "chatId": 7260765133, "text": "/start", "callbackData": "", "hasPhoto": false, "hasContact": false}, {"at": "2026-04-16T05:26:58.611Z", "chatId": -1003989386408, "text": "🎁 Получить бонусы", "callbackData": "", "hasPhoto": false, "hasContact": false}, {"at": "2026-04-16T05:26:59.076Z", "chatId": -1003989386408, "text": "👤 Вы\n ├ id: 7260765133\n ├ is_bot: false\n ├ first_name: Феликс\n ├ username: Felix_3999\n ├ language_code: ru (-)\n └ created: ~ 9/2024", "callbackData": "", "hasPhoto": false, "hasContact": false}, {"at": "2026-04-16T05:26:59.844Z", "chatId": -1003989386408, "text": "/admins", "callbackData": "", "hasPhoto": false, "hasContact": false}, {"at": "2026-04-16T05:27:14.298Z", "chatId": 7260765133, "text": "", "callbackData": "SUB_CONFIRMED", "hasPhoto": false, "hasContact": false}, {"at": "2026-04-16T05:30:36.356Z", "chatId": 7260765133, "text": "/start", "callbackData": "", "hasPhoto": false, "hasContact": false}, {"at": "2026-04-16T05:30:38.780Z", "chatId": 7260765133, "text": "", "callbackData": "START_FLOW", "hasPhoto": false, "hasContact": false}, {"at": "2026-04-16T05:30:44.463Z", "chatId": 7260765133, "text": "", "callbackData": "SUB_CONFIRMED", "hasPhoto": false, "hasContact": false}, {"at": "2026-04-16T05:30:51.307Z", "chatId": 7260765133, "text": "6455+5+5+", "callbackData": "", "hasPhoto": false, "hasContact": false}, {"at": "2026-04-16T05:31:04.558Z", "chatId": 7260765133, "text": "🎁 Получить бонусы", "callbackData": "", "hasPhoto": false, "hasContact": false}, {"at": "2026-04-16T05:31:06.378Z", "chatId": 7260765133, "text": "", "callbackData": "SUB_CONFIRMED", "hasPhoto": false, "hasContact": false}, {"at": "2026-04-16T05:31:32.207Z", "chatId": 7260765133, "text": "893757222223", "callbackData": "", "hasPhoto": false, "hasContact": false}, {"at": "2026-04-16T05:31:35.018Z", "chatId": 7260765133, "text": "1+2 варежки (7000 руб.)", "callbackData": "", "hasPhoto": false, "hasContact": false}, {"at": "2026-04-16T05:31:49.827Z", "chatId": 7260765133, "text": "", "callbackData": "", "hasPhoto": true, "hasContact": false}, {"at": "2026-04-16T05:35:52.092Z", "chatId": 7260765133, "text": "🎁 Получить бонусы", "callbackData": "", "hasPhoto": false, "hasContact": false}, {"at": "2026-04-16T05:36:57.708Z", "chatId": -1003989386408, "text": "", "callbackData": "APPROVE|smo11kylymrsc", "hasPhoto": false, "hasContact": false}, {"at": "2026-04-16T05:45:13.700Z", "chatId": 1207565928, "text": "/start", "callbackData": "", "hasPhoto": false, "hasContact": false}, {"at": "2026-04-16T05:45:15.718Z", "chatId": 1207565928, "text": "", "callbackData": "START_FLOW", "hasPhoto": false, "hasContact": false}, {"at": "2026-04-16T05:45:32.832Z", "chatId": 1207565928, "text": "", "callbackData": "SUB_CONFIRMED", "hasPhoto": false, "hasContact": false}, {"at": "2026-04-16T05:45:42.349Z", "chatId": 1207565928, "text": "", "callbackData": "", "hasPhoto": false, "hasContact": true}, {"at": "2026-04-16T05:45:50.978Z", "chatId": 1207565928, "text": "VIP: 1+2+5 варежек (11000 руб.)", "callbackData": "", "hasPhoto": false, "hasContact": false}, {"at": "2026-04-16T05:45:59.382Z", "chatId": 1207565928, "text": "", "callbackData": "", "hasPhoto": true, "hasContact": false}, {"at": "2026-04-16T05:47:05.700Z", "chatId": -1003989386408, "text": "", "callbackData": "REJECT|smo11kylymrsc", "hasPhoto": false, "hasContact": false}, {"at": "2026-04-16T05:47:15.090Z", "chatId": -1003989386408, "text": "", "callbackData": "APPROVE|smo1236216bnh", "hasPhoto": false, "hasContact": false}, {"at": "2026-04-16T05:47:32.702Z", "chatId": -1003989386408, "text": "", "callbackData": "APPROVE|smo1236216bnh", "hasPhoto": false, "hasContact": false}, {"at": "2026-04-16T05:48:24.799Z", "chatId": 1207565928, "text": "📍 Мой статус", "callbackData": "", "hasPhoto": false, "hasContact": false}, {"at": "2026-04-16T05:48:49.461Z", "chatId": -1003989386408, "text": "", "callbackData": "APPROVE|smo1236216bnh", "hasPhoto": false, "hasContact": false}, {"at": "2026-04-16T05:49:01.904Z", "chatId": -1003989386408, "text": "", "callbackData": "REJECT|smo11kylymrsc", "hasPhoto": false, "hasContact": false}, {"at": "2026-04-16T06:03:51.984Z", "chatId": -1003989386408, "text": "", "callbackData": "APPROVE|smo1236216bnh", "hasPhoto": false, "hasContact": false}, {"at": "2026-04-16T06:04:38.000Z", "chatId": -1003989386408, "text": "", "callbackData": "REJECT|smo11kylymrsc", "hasPhoto": false, "hasContact": false}, {"at": "2026-04-16T06:04:49.630Z", "chatId": -1003989386408, "text": "", "callbackData": "APPROVE|smo1236216bnh", "hasPhoto": false, "hasContact": false}, {"at": "2026-04-16T06:07:53.565Z", "chatId": 7260765133, "text": "📍 Мой статус", "callbackData": "", "hasPhoto": false, "hasContact": false}, {"at": "2026-04-16T06:08:01.961Z", "chatId": 7260765133, "text": "▶️ Продолжить", "callbackData": "", "hasPhoto": false, "hasContact": false}, {"at": "2026-04-16T13:33:21.244Z", "chatId": 5316836852, "text": "/start", "callbackData": "", "hasPhoto": false, "hasContact": false}, {"at": "2026-04-16T13:33:46.264Z", "chatId": 5316836852, "text": "", "callbackData": "START_FLOW", "hasPhoto": false, "hasContact": false}, {"at": "2026-04-16T17:02:48.286Z", "chatId": -1003989386408, "text": "вымпсч", "callbackData": "", "hasPhoto": false, "hasContact": false}, {"at": "2026-04-16T17:02:48.424Z", "chatId": -1003989386408, "text": "📍 Мой статус", "callbackData": "", "hasPhoto": false, "hasContact": false}, {"at": "2026-04-16T17:02:48.836Z", "chatId": -1003989386408, "text": "🎁 Получить бонусы", "callbackData": "", "hasPhoto": false, "hasContact": false}, {"at": "2026-04-16T17:02:48.980Z", "chatId": -1003989386408, "text": "test", "callbackData": "", "hasPhoto": false, "hasContact": false}, {"at": "2026-04-16T17:02:49.096Z", "chatId": -1003989386408, "text": "👤 Вы\n ├ id: 7260765133\n ├ is_bot: false\n ├ first_name: Феликс\n ├ username: Felix_3999\n ├ language_code: ru (-)\n └ created: ~ 9/2024", "callbackData": "", "hasPhoto": false, "hasContact": false}, {"at": "2026-04-16T17:02:49.157Z", "chatId": 7260765133, "text": "/start", "callbackData": "", "hasPhoto": false, "hasContact": false}, {"at": "2026-04-16T17:02:49.234Z", "chatId": 7260765133, "text": "CH-spa", "callbackData": "", "hasPhoto": false, "hasContact": false}, {"at": "2026-04-16T17:02:49.311Z", "chatId": 7260765133, "text": "/start", "callbackData": "", "hasPhoto": false, "hasContact": false}, {"at": "2026-04-16T17:02:49.442Z", "chatId": -1003989386408, "text": "@userinfobot", "callbackData": "", "hasPhoto": false, "hasContact": false}, {"at": "2026-04-16T17:02:49.515Z", "chatId": -1003989386408, "text": "🎁 Получить бонусы", "callbackData": "", "hasPhoto": false, "hasContact": false}, {"at": "2026-04-16T17:02:49.598Z", "chatId": -1003989386408, "text": "", "callbackData": "", "hasPhoto": false, "hasContact": false}, {"at": "2026-04-16T17:02:49.684Z", "chatId": -1003989386408, "text": "👤 Вы\n ├ id: 7260765133\n ├ is_bot: false\n ├ first_name: Феликс\n ├ username: Felix_3999\n ├ language_code: ru (-)\n └ created: ~ 9/2024", "callbackData": "", "hasPhoto": false, "hasContact": false}, {"at": "2026-04-16T17:02:49.761Z", "chatId": -1003989386408, "text": "👤 Вы\n ├ id: 7260765133\n ├ is_bot: false\n ├ first_name: Феликс\n ├ username: Felix_3999\n ├ language_code: ru (-)\n └ created: ~ 9/2024", "callbackData": "", "hasPhoto": false, "hasContact": false}, {"at": "2026-04-16T17:02:49.869Z", "chatId": -1003989386408, "text": "@userinfobot", "callbackData": "", "hasPhoto": false, "hasContact": false}, {"at": "2026-04-16T17:02:49.948Z", "chatId": -1003989386408, "text": "", "callbackData": "", "hasPhoto": false, "hasContact": false}, {"at": "2026-04-16T17:02:50.022Z", "chatId": -1003989386408, "text": "/admins", "callbackData": "", "hasPhoto": false, "hasContact": false}, {"at": "2026-04-16T17:02:50.108Z", "chatId": -1003989386408, "text": "/admins", "callbackData": "", "hasPhoto": false, "hasContact": false}, {"at": "2026-04-16T17:02:50.192Z", "chatId": -1003989386408, "text": "/json", "callbackData": "", "hasPhoto": false, "hasContact": false}, {"at": "2026-04-16T17:02:56.462Z", "chatId": 7260765133, "text": "/start", "callbackData": "", "hasPhoto": false, "hasContact": false}, {"at": "2026-04-16T17:03:59.442Z", "chatId": 7260765133, "text": "/start", "callbackData": "", "hasPhoto": false, "hasContact": false}, {"at": "2026-04-16T17:04:17.510Z", "chatId": 7260765133, "text": "/start", "callbackData": "", "hasPhoto": false, "hasContact": false}, {"at": "2026-04-16T17:04:54.988Z", "chatId": 7260765133, "text": "/start", "callbackData": "", "hasPhoto": false, "hasContact": false}, {"at": "2026-04-16T17:05:38.896Z", "chatId": 7260765133, "text": "/cancel_oauth", "callbackData": "", "hasPhoto": false, "hasContact": false}, {"at": "2026-04-16T17:05:41.057Z", "chatId": 7260765133, "text": "/clear", "callbackData": "", "hasPhoto": false, "hasContact": false}, {"at": "2026-04-16T17:05:43.432Z", "chatId": 7260765133, "text": "/start", "callbackData": "", "hasPhoto": false, "hasContact": false}, {"at": "2026-04-16T17:05:59.291Z", "chatId": 7260765133, "text": "/start", "callbackData": "", "hasPhoto": false, "hasContact": false}, {"at": "2026-04-16T17:10:22.495Z", "chatId": 7260765133, "text": "/start", "callbackData": "", "hasPhoto": false, "hasContact": false}, {"at": "2026-04-16T17:10:22.584Z", "chatId": 7260765133, "text": "/start", "callbackData": "", "hasPhoto": false, "hasContact": false}, {"at": "2026-04-16T17:10:22.706Z", "chatId": 7260765133, "text": "📍 Мой статус", "callbackData": "", "hasPhoto": false, "hasContact": false}, {"at": "2026-04-16T17:10:23.015Z", "chatId": 7260765133, "text": "/start", "callbackData": "", "hasPhoto": false, "hasContact": false}, {"at": "2026-04-16T17:10:30.386Z", "chatId": 7260765133, "text": "/start", "callbackData": "", "hasPhoto": false, "hasContact": false}, {"at": "2026-04-16T17:11:37.824Z", "chatId": 7260765133, "text": "/start", "callbackData": "", "hasPhoto": false, "hasContact": false}, {"at": "2026-04-16T17:11:41.238Z", "chatId": 7260765133, "text": "🔄 Начать заново", "callbackData": "", "hasPhoto": false, "hasContact": false}, {"at": "2026-04-16T17:12:04.863Z", "chatId": 7260765133, "text": "/start", "callbackData": "", "hasPhoto": false, "hasContact": false}, {"at": "2026-04-16T17:12:07.077Z", "chatId": 7260765133, "text": "🔄 Начать заново", "callbackData": "", "hasPhoto": false, "hasContact": false}, {"at": "2026-04-16T17:12:10.391Z", "chatId": 7260765133, "text": "📍 Мой статус", "callbackData": "", "hasPhoto": false, "hasContact": false}, {"at": "2026-04-16T17:12:21.416Z", "chatId": 7260765133, "text": "💬 Помощь", "callbackData": "", "hasPhoto": false, "hasContact": false}, {"at": "2026-04-16T17:35:09.568Z", "chatId": null, "text": "", "callbackData": "", "hasPhoto": false, "hasContact": false}, {"at": "2026-04-16T17:35:11.918Z", "chatId": null, "text": "", "callbackData": "", "hasPhoto": false, "hasContact": false}, {"at": "2026-04-16T17:37:00.740Z", "chatId": null, "text": "", "callbackData": "", "hasPhoto": false, "hasContact": false}, {"at": "2026-04-16T17:37:12.686Z", "chatId": null, "text": "", "callbackData": "", "hasPhoto": false, "hasContact": false}, {"at": "2026-04-16T18:47:48.513Z", "chatId": null, "text": "", "callbackData": "", "hasPhoto": false, "hasContact": false}, {"at": "2026-04-16T18:47:48.601Z", "chatId": null, "text": "", "callbackData": "", "hasPhoto": false, "hasContact": false}, {"at": "2026-04-17T20:25:31.951Z", "chatId": null, "text": "", "callbackData": "", "hasPhoto": false, "hasContact": false}, {"at": "2026-04-17T20:25:32.335Z", "chatId": null, "text": "", "callbackData": "", "hasPhoto": false, "hasContact": false}, {"at": "2026-04-17T20:25:32.737Z", "chatId": null, "text": "", "callbackData": "", "hasPhoto": false, "hasContact": false}, {"at": "2026-04-17T20:25:36.625Z", "chatId": null, "text": "", "callbackData": "", "hasPhoto": false, "hasContact": false}, {"at": "2026-04-17T20:25:46.047Z", "chatId": null, "text": "", "callbackData": "", "hasPhoto": false, "hasContact": false}, {"at": "2026-04-17T20:26:02.661Z", "chatId": null, "text": "", "callbackData": "", "hasPhoto": false, "hasContact": false}, {"at": "2026-04-17T20:26:22.431Z", "chatId": null, "text": "", "callbackData": "", "hasPhoto": false, "hasContact": false}, {"at": "2026-04-17T20:26:49.310Z", "chatId": null, "text": "", "callbackData": "", "hasPhoto": false, "hasContact": false}, {"at": "2026-04-17T20:26:54.917Z", "chatId": null, "text": "", "callbackData": "", "hasPhoto": false, "hasContact": false}, {"at": "2026-04-17T22:16:09.068Z", "chatId": 7260765133, "text": "", "callbackData": "START_PURCHASE", "hasPhoto": false, "hasContact": false}, {"at": "2026-04-17T22:16:20.377Z", "chatId": 7260765133, "text": "1 варежка (3000 руб.)", "callbackData": "", "hasPhoto": false, "hasContact": false}, {"at": "2026-04-17T22:16:23.942Z", "chatId": 7260765133, "text": "🔄 Начать заново", "callbackData": "", "hasPhoto": false, "hasContact": false}, {"at": "2026-04-17T22:16:29.149Z", "chatId": 7260765133, "text": "", "callbackData": "START_PURCHASE", "hasPhoto": false, "hasContact": false}, {"at": "2026-04-17T22:16:39.638Z", "chatId": 7260765133, "text": "", "callbackData": "SUB_CONFIRMED", "hasPhoto": false, "hasContact": false}, {"at": "2026-04-17T22:16:46.863Z", "chatId": 7260765133, "text": "77777777773", "callbackData": "", "hasPhoto": false, "hasContact": false}, {"at": "2026-04-17T22:16:52.009Z", "chatId": 7260765133, "text": "1+2 варежки (7000 руб.)", "callbackData": "", "hasPhoto": false, "hasContact": false}, {"at": "2026-04-17T22:17:19.092Z", "chatId": 7260765133, "text": "", "callbackData": "", "hasPhoto": true, "hasContact": false}, {"at": "2026-04-17T22:17:44.291Z", "chatId": 7260765133, "text": "📍 Мой статус", "callbackData": "", "hasPhoto": false, "hasContact": false}, {"at": "2026-04-17T22:19:32.866Z", "chatId": 7260765133, "text": "🎁 Получить бонусы", "callbackData": "", "hasPhoto": false, "hasContact": false}, {"at": "2026-04-17T22:19:34.977Z", "chatId": 7260765133, "text": "", "callbackData": "SUB_CONFIRMED", "hasPhoto": false, "hasContact": false}, {"at": "2026-04-17T22:19:41.023Z", "chatId": 7260765133, "text": "11111111", "callbackData": "", "hasPhoto": false, "hasContact": false}, {"at": "2026-04-17T22:20:02.491Z", "chatId": 7260765133, "text": "🎁 Получить бонусы", "callbackData": "", "hasPhoto": false, "hasContact": false}, {"at": "2026-04-17T22:20:04.587Z", "chatId": 7260765133, "text": "", "callbackData": "SUB_CONFIRMED", "hasPhoto": false, "hasContact": false}, {"at": "2026-04-17T22:20:14.175Z", "chatId": 7260765133, "text": "7777777779578", "callbackData": "", "hasPhoto": false, "hasContact": false}, {"at": "2026-04-17T22:20:16.809Z", "chatId": 7260765133, "text": "VIP: 1+2+5 варежек (11000 руб.)", "callbackData": "", "hasPhoto": false, "hasContact": false}, {"at": "2026-04-17T22:20:28.407Z", "chatId": 7260765133, "text": "", "callbackData": "", "hasPhoto": true, "hasContact": false}, {"at": "2026-04-17T22:20:38.537Z", "chatId": 7260765133, "text": "📍 Мой статус", "callbackData": "", "hasPhoto": false, "hasContact": false}, {"at": "2026-04-17T22:20:52.348Z", "chatId": -1003989386408, "text": "", "callbackData": "REJECT|smo3h1xe56nxs", "hasPhoto": false, "hasContact": false}, {"at": "2026-04-17T22:23:10.240Z", "chatId": 7260765133, "text": "", "callbackData": "UPSELL_YES", "hasPhoto": false, "hasContact": false}, {"at": "2026-04-17T23:10:53.634Z", "chatId": 7260765133, "text": "", "callbackData": "START_PURCHASE", "hasPhoto": false, "hasContact": false}, {"at": "2026-04-17T23:11:07.204Z", "chatId": 7260765133, "text": "/start", "callbackData": "", "hasPhoto": false, "hasContact": false}, {"at": "2026-04-17T23:11:09.867Z", "chatId": 7260765133, "text": "", "callbackData": "START_PURCHASE", "hasPhoto": false, "hasContact": false}, {"at": "2026-04-17T23:11:27.488Z", "chatId": 7260765133, "text": "", "callbackData": "SUB_CONFIRMED", "hasPhoto": false, "hasContact": false}, {"at": "2026-04-17T23:11:39.943Z", "chatId": 7260765133, "text": "1111111111111", "callbackData": "", "hasPhoto": false, "hasContact": false}, {"at": "2026-04-17T23:11:43.014Z", "chatId": 7260765133, "text": "1+2 варежки (7000 руб.)", "callbackData": "", "hasPhoto": false, "hasContact": false}, {"at": "2026-04-17T23:11:58.910Z", "chatId": 7260765133, "text": "", "callbackData": "", "hasPhoto": true, "hasContact": false}, {"at": "2026-04-17T23:12:25.415Z", "chatId": 7260765133, "text": "", "callbackData": "UPSELL_YES", "hasPhoto": false, "hasContact": false}, {"at": "2026-04-17T23:12:35.064Z", "chatId": 7260765133, "text": "📍 Мой статус", "callbackData": "", "hasPhoto": false, "hasContact": false}, {"at": "2026-04-17T23:12:46.269Z", "chatId": 7260765133, "text": "🎁 Получить бонусы", "callbackData": "", "hasPhoto": false, "hasContact": false}, {"at": "2026-04-17T23:12:48.864Z", "chatId": 7260765133, "text": "", "callbackData": "SUB_CONFIRMED", "hasPhoto": false, "hasContact": false}, {"at": "2026-04-17T23:12:53.843Z", "chatId": 7260765133, "text": "⬅️ Назад", "callbackData": "", "hasPhoto": false, "hasContact": false}, {"at": "2026-04-17T23:12:55.644Z", "chatId": 7260765133, "text": "🔄 Начать заново", "callbackData": "", "hasPhoto": false, "hasContact": false}, {"at": "2026-04-17T23:13:03.413Z", "chatId": 7260765133, "text": "", "callbackData": "START_PURCHASE", "hasPhoto": false, "hasContact": false}, {"at": "2026-04-17T23:13:05.755Z", "chatId": 7260765133, "text": "", "callbackData": "SUB_CONFIRMED", "hasPhoto": false, "hasContact": false}, {"at": "2026-04-17T23:13:25.047Z", "chatId": 7260765133, "text": "", "callbackData": "", "hasPhoto": true, "hasContact": false}, {"at": "2026-04-17T23:13:54.654Z", "chatId": 7260765133, "text": "⬅️ Назад", "callbackData": "", "hasPhoto": false, "hasContact": false}, {"at": "2026-04-17T23:13:58.165Z", "chatId": 7260765133, "text": "🔄 Начать заново", "callbackData": "", "hasPhoto": false, "hasContact": false}, {"at": "2026-04-17T23:13:59.728Z", "chatId": 7260765133, "text": "", "callbackData": "START_PURCHASE", "hasPhoto": false, "hasContact": false}, {"at": "2026-04-17T23:14:01.710Z", "chatId": 7260765133, "text": "", "callbackData": "SUB_CONFIRMED", "hasPhoto": false, "hasContact": false}, {"at": "2026-04-17T23:14:11.459Z", "chatId": 7260765133, "text": "11111111111113", "callbackData": "", "hasPhoto": false, "hasContact": false}, {"at": "2026-04-17T23:14:14.325Z", "chatId": 7260765133, "text": "VIP: 1+2+5 варежек (11000 руб.)", "callbackData": "", "hasPhoto": false, "hasContact": false}, {"at": "2026-04-17T23:14:37.098Z", "chatId": 7260765133, "text": "", "callbackData": "", "hasPhoto": true, "hasContact": false}, {"at": "2026-04-17T23:41:05.476Z", "chatId": 7260765133, "text": "💬 Помощь", "callbackData": "", "hasPhoto": false, "hasContact": false}, {"at": "2026-04-17T23:41:06.212Z", "chatId": 7260765133, "text": "🔄 Начать заново", "callbackData": "", "hasPhoto": false, "hasContact": false}, {"at": "2026-04-17T23:41:06.744Z", "chatId": 7260765133, "text": "🎁 Получить бонусы", "callbackData": "", "hasPhoto": false, "hasContact": false}, {"at": "2026-04-17T23:41:07.147Z", "chatId": 7260765133, "text": "🔄 Начать заново", "callbackData": "", "hasPhoto": false, "hasContact": false}, {"at": "2026-04-17T23:41:07.546Z", "chatId": 7260765133, "text": "🔄 Начать заново", "callbackData": "", "hasPhoto": false, "hasContact": false}, {"at": "2026-04-17T23:41:08.050Z", "chatId": 7260765133, "text": "🔄 Начать заново", "callbackData": "", "hasPhoto": false, "hasContact": false}, {"at": "2026-04-17T23:41:08.404Z", "chatId": 7260765133, "text": "🔄 Начать заново", "callbackData": "", "hasPhoto": false, "hasContact": false}, {"at": "2026-04-17T23:41:08.746Z", "chatId": 7260765133, "text": "🔄 Начать заново", "callbackData": "", "hasPhoto": false, "hasContact": false}, {"at": "2026-04-17T23:41:15.476Z", "chatId": 7260765133, "text": "🔄 Начать заново", "callbackData": "", "hasPhoto": false, "hasContact": false}, {"at": "2026-04-17T23:41:22.934Z", "chatId": 7260765133, "text": "", "callbackData": "START_PURCHASE", "hasPhoto": false, "hasContact": false}, {"at": "2026-04-17T23:41:28.818Z", "chatId": 7260765133, "text": "🔄 Начать заново", "callbackData": "", "hasPhoto": false, "hasContact": false}, {"at": "2026-04-17T23:41:31.743Z", "chatId": 7260765133, "text": "", "callbackData": "START_PURCHASE", "hasPhoto": false, "hasContact": false}, {"at": "2026-04-17T23:41:37.779Z", "chatId": 7260765133, "text": "", "callbackData": "SUB_CONFIRMED", "hasPhoto": false, "hasContact": false}, {"at": "2026-04-17T23:41:44.500Z", "chatId": 7260765133, "text": "222222222222", "callbackData": "", "hasPhoto": false, "hasContact": false}, {"at": "2026-04-17T23:41:46.880Z", "chatId": 7260765133, "text": "VIP: 1+2+5 варежек (11000 руб.)", "callbackData": "", "hasPhoto": false, "hasContact": false}, {"at": "2026-04-17T23:41:58.399Z", "chatId": 7260765133, "text": "", "callbackData": "", "hasPhoto": true, "hasContact": false}, {"at": "2026-04-18T00:05:57.212Z", "chatId": 596841236, "text": "/start", "callbackData": "", "hasPhoto": false, "hasContact": false}, {"at": "2026-04-18T00:05:57.934Z", "chatId": 7260765133, "text": "/start", "callbackData": "", "hasPhoto": false, "hasContact": false}, {"at": "2026-04-18T00:05:58.351Z", "chatId": 7260765133, "text": "📍 Мой статус", "callbackData": "", "hasPhoto": false, "hasContact": false}, {"at": "2026-04-18T00:05:58.764Z", "chatId": 7260765133, "text": "🔄 Начать заново", "callbackData": "", "hasPhoto": false, "hasContact": false}, {"at": "2026-04-18T00:05:59.693Z", "chatId": 7260765133, "text": "🔄 Начать заново", "callbackData": "", "hasPhoto": false, "hasContact": false}, {"at": "2026-04-18T00:06:32.727Z", "chatId": 7260765133, "text": "🔄 Начать заново", "callbackData": "", "hasPhoto": false, "hasContact": false}, {"at": "2026-04-18T00:06:36.355Z", "chatId": 7260765133, "text": "", "callbackData": "START_PURCHASE", "hasPhoto": false, "hasContact": false}, {"at": "2026-04-18T00:06:46.384Z", "chatId": 7260765133, "text": "", "callbackData": "SUB_CONFIRMED", "hasPhoto": false, "hasContact": false}, {"at": "2026-04-18T00:07:16.152Z", "chatId": 7260765133, "text": "111111111119", "callbackData": "", "hasPhoto": false, "hasContact": false}, {"at": "2026-04-18T00:07:26.600Z", "chatId": 7260765133, "text": "888888888894", "callbackData": "", "hasPhoto": false, "hasContact": false}, {"at": "2026-04-18T00:07:30.268Z", "chatId": 7260765133, "text": "🔄 Начать заново", "callbackData": "", "hasPhoto": false, "hasContact": false}, {"at": "2026-04-18T00:07:35.096Z", "chatId": 7260765133, "text": "", "callbackData": "START_PURCHASE", "hasPhoto": false, "hasContact": false}, {"at": "2026-04-18T00:07:37.490Z", "chatId": 7260765133, "text": "", "callbackData": "SUB_CONFIRMED", "hasPhoto": false, "hasContact": false}, {"at": "2026-04-18T00:17:45.666Z", "chatId": 7260765133, "text": "🔄 Начать заново", "callbackData": "", "hasPhoto": false, "hasContact": false}, {"at": "2026-04-18T00:17:48.684Z", "chatId": 7260765133, "text": "", "callbackData": "START_PURCHASE", "hasPhoto": false, "hasContact": false}, {"at": "2026-04-18T00:17:53.203Z", "chatId": 7260765133, "text": "", "callbackData": "SUB_CONFIRMED", "hasPhoto": false, "hasContact": false}, {"at": "2026-04-18T00:18:04.266Z", "chatId": 7260765133, "text": "8888888888888", "callbackData": "", "hasPhoto": false, "hasContact": false}, {"at": "2026-04-18T00:18:37.811Z", "chatId": 7260765133, "text": "📍 Мой статус", "callbackData": "", "hasPhoto": false, "hasContact": false}, {"at": "2026-04-18T00:18:50.315Z", "chatId": 7260765133, "text": "🔄 Начать заново", "callbackData": "", "hasPhoto": false, "hasContact": false}, {"at": "2026-04-18T00:18:52.174Z", "chatId": 7260765133, "text": "", "callbackData": "START_PURCHASE", "hasPhoto": false, "hasContact": false}, {"at": "2026-04-18T00:18:54.029Z", "chatId": 7260765133, "text": "", "callbackData": "SUB_CONFIRMED", "hasPhoto": false, "hasContact": false}, {"at": "2026-04-18T00:19:10.089Z", "chatId": 7260765133, "text": "", "callbackData": "", "hasPhoto": false, "hasContact": true}, {"at": "2026-04-18T00:19:19.637Z", "chatId": 7260765133, "text": "VIP: 1+2+5 варежек (11000 руб.)", "callbackData": "", "hasPhoto": false, "hasContact": false}, {"at": "2026-04-18T00:19:29.020Z", "chatId": 7260765133, "text": "", "callbackData": "", "hasPhoto": true, "hasContact": false}, {"at": "2026-04-18T00:19:55.872Z", "chatId": 7260765133, "text": "📍 Мой статус", "callbackData": "", "hasPhoto": false, "hasContact": false}, {"at": "2026-04-18T00:38:23.351Z", "chatId": 7260765133, "text": "🔄 Начать заново", "callbackData": "", "hasPhoto": false, "hasContact": false}, {"at": "2026-04-18T00:40:52.888Z", "chatId": 7260765133, "text": "📍 Мой статус", "callbackData": "", "hasPhoto": false, "hasContact": false}, {"at": "2026-04-18T00:44:16.248Z", "chatId": 7260765133, "text": "🔄 Начать заново", "callbackData": "", "hasPhoto": false, "hasContact": false}, {"at": "2026-04-18T00:44:20.585Z", "chatId": 7260765133, "text": "", "callbackData": "SUB_CONFIRMED", "hasPhoto": false, "hasContact": false}, {"at": "2026-04-18T00:44:24.657Z", "chatId": 7260765133, "text": "", "callbackData": "START_PURCHASE", "hasPhoto": false, "hasContact": false}, {"at": "2026-04-18T00:44:41.126Z", "chatId": 7260765133, "text": "9999999999999", "callbackData": "", "hasPhoto": false, "hasContact": false}, {"at": "2026-04-18T00:44:48.393Z", "chatId": 7260765133, "text": "", "callbackData": "SUB_CONFIRMED", "hasPhoto": false, "hasContact": false}, {"at": "2026-04-18T00:57:11.847Z", "chatId": 7260765133, "text": "/start", "callbackData": "", "hasPhoto": false, "hasContact": false}, {"at": "2026-04-18T00:57:37.735Z", "chatId": 7260765133, "text": "", "callbackData": "START_PURCHASE", "hasPhoto": false, "hasContact": false}, {"at": "2026-04-18T00:57:53.029Z", "chatId": 7260765133, "text": "🔄 Начать заново", "callbackData": "", "hasPhoto": false, "hasContact": false}, {"at": "2026-04-18T00:57:54.940Z", "chatId": 7260765133, "text": "", "callbackData": "START_PURCHASE", "hasPhoto": false, "hasContact": false}, {"at": "2026-04-18T00:58:12.740Z", "chatId": 7260765133, "text": "", "callbackData": "START_PURCHASE", "hasPhoto": false, "hasContact": false}, {"at": "2026-04-18T01:05:19.782Z", "chatId": 7260765133, "text": "🔄 Начать заново", "callbackData": "", "hasPhoto": false, "hasContact": false}, {"at": "2026-04-18T01:05:22.099Z", "chatId": 7260765133, "text": "", "callbackData": "START_PURCHASE", "hasPhoto": false, "hasContact": false}, {"at": "2026-04-18T01:05:31.292Z", "chatId": 7260765133, "text": "", "callbackData": "SUB_CONFIRMED", "hasPhoto": false, "hasContact": false}, {"at": "2026-04-18T01:05:45.659Z", "chatId": 7260765133, "text": "9999999999", "callbackData": "", "hasPhoto": false, "hasContact": false}, {"at": "2026-04-18T01:06:46.763Z", "chatId": 7260765133, "text": "", "callbackData": "", "hasPhoto": false, "hasContact": true}, {"at": "2026-04-18T01:06:48.808Z", "chatId": 7260765133, "text": "VIP: 1+2+5 варежек (11000 руб.)", "callbackData": "", "hasPhoto": false, "hasContact": false}, {"at": "2026-04-18T01:07:07.529Z", "chatId": 7260765133, "text": "", "callbackData": "", "hasPhoto": true, "hasContact": false}, {"at": "2026-04-18T01:09:24.893Z", "chatId": 7260765133, "text": "9999999999999999", "callbackData": "", "hasPhoto": false, "hasContact": false}, {"at": "2026-04-18T01:09:32.161Z", "chatId": 7260765133, "text": "🔄 Начать заново", "callbackData": "", "hasPhoto": false, "hasContact": false}, {"at": "2026-04-18T01:09:33.789Z", "chatId": 7260765133, "text": "", "callbackData": "START_PURCHASE", "hasPhoto": false, "hasContact": false}, {"at": "2026-04-18T01:09:35.809Z", "chatId": 7260765133, "text": "", "callbackData": "SUB_CONFIRMED", "hasPhoto": false, "hasContact": false}, {"at": "2026-04-18T01:09:47.945Z", "chatId": 7260765133, "text": "11111111122", "callbackData": "", "hasPhoto": false, "hasContact": false}, {"at": "2026-04-18T01:28:33.811Z", "chatId": 7260765133, "text": "/start", "callbackData": "", "hasPhoto": false, "hasContact": false}, {"at": "2026-04-18T01:28:36.889Z", "chatId": 7260765133, "text": "", "callbackData": "START_PURCHASE", "hasPhoto": false, "hasContact": false}, {"at": "2026-04-18T01:28:41.750Z", "chatId": 7260765133, "text": "", "callbackData": "SUB_CONFIRMED", "hasPhoto": false, "hasContact": false}, {"at": "2026-04-18T01:28:47.248Z", "chatId": 7260765133, "text": "77777777777777", "callbackData": "", "hasPhoto": false, "hasContact": false}, {"at": "2026-04-18T01:28:50.984Z", "chatId": 7260765133, "text": "", "callbackData": "", "hasPhoto": false, "hasContact": true}, {"at": "2026-04-18T01:28:52.880Z", "chatId": 7260765133, "text": "VIP: 1+2+5 варежек (11000 руб.)", "callbackData": "", "hasPhoto": false, "hasContact": false}, {"at": "2026-04-18T01:29:05.423Z", "chatId": 7260765133, "text": "", "callbackData": "", "hasPhoto": true, "hasContact": false}, {"at": "2026-04-18T01:29:24.289Z", "chatId": 7260765133, "text": "📍 Мой статус", "callbackData": "", "hasPhoto": false, "hasContact": false}, {"at": "2026-04-18T01:48:35.691Z", "chatId": 7260765133, "text": "🔄 Начать заново", "callbackData": "", "hasPhoto": false, "hasContact": false}, {"at": "2026-04-18T01:48:36.535Z", "chatId": 7260765133, "text": "🔄 Начать заново", "callbackData": "", "hasPhoto": false, "hasContact": false}, {"at": "2026-04-18T01:48:43.640Z", "chatId": 7260765133, "text": "🔄 Начать заново", "callbackData": "", "hasPhoto": false, "hasContact": false}, {"at": "2026-04-18T01:48:46.472Z", "chatId": 7260765133, "text": "", "callbackData": "START_PURCHASE", "hasPhoto": false, "hasContact": false}, {"at": "2026-04-18T01:48:50.292Z", "chatId": 7260765133, "text": "", "callbackData": "SUB_CONFIRMED", "hasPhoto": false, "hasContact": false}, {"at": "2026-04-18T01:48:56.764Z", "chatId": 7260765133, "text": "55555555555", "callbackData": "", "hasPhoto": false, "hasContact": false}, {"at": "2026-04-18T01:49:00.113Z", "chatId": 7260765133, "text": "", "callbackData": "", "hasPhoto": false, "hasContact": true}, {"at": "2026-04-18T01:49:03.174Z", "chatId": 7260765133, "text": "VIP: 1+2+5 варежек (11000 руб.)", "callbackData": "", "hasPhoto": false, "hasContact": false}, {"at": "2026-04-18T01:49:43.388Z", "chatId": 7260765133, "text": "", "callbackData": "", "hasPhoto": true, "hasContact": false}, {"at": "2026-04-18T01:49:59.895Z", "chatId": -1003989386408, "text": "", "callbackData": "APPROVE|smo3oj15y8r9q", "hasPhoto": false, "hasContact": false}, {"at": "2026-04-18T01:50:15.598Z", "chatId": 7260765133, "text": "", "callbackData": "UPSELL_YES", "hasPhoto": false, "hasContact": false}, {"at": "2026-04-18T01:50:22.300Z", "chatId": 7260765133, "text": "🎁 Получить бонусы", "callbackData": "", "hasPhoto": false, "hasContact": false}, {"at": "2026-04-18T01:50:29.553Z", "chatId": 7260765133, "text": "🔄 Начать заново", "callbackData": "", "hasPhoto": false, "hasContact": false}, {"at": "2026-04-18T01:50:30.873Z", "chatId": 7260765133, "text": "", "callbackData": "START_PURCHASE", "hasPhoto": false, "hasContact": false}, {"at": "2026-04-18T01:50:32.187Z", "chatId": 7260765133, "text": "", "callbackData": "SUB_CONFIRMED", "hasPhoto": false, "hasContact": false}, {"at": "2026-04-18T01:50:38.820Z", "chatId": 7260765133, "text": "333333333333", "callbackData": "", "hasPhoto": false, "hasContact": false}, {"at": "2026-04-18T01:50:41.843Z", "chatId": 7260765133, "text": "", "callbackData": "", "hasPhoto": false, "hasContact": true}, {"at": "2026-04-18T01:50:43.775Z", "chatId": 7260765133, "text": "1+2 варежки (7000 руб.)", "callbackData": "", "hasPhoto": false, "hasContact": false}, {"at": "2026-04-18T01:53:12.869Z", "chatId": 7260765133, "text": "", "callbackData": "", "hasPhoto": false, "hasContact": true}, {"at": "2026-04-18T02:27:31.563Z", "chatId": 7260765133, "text": "🔄 Начать заново", "callbackData": "", "hasPhoto": false, "hasContact": false}, {"at": "2026-04-18T02:27:33.310Z", "chatId": 7260765133, "text": "", "callbackData": "START_PURCHASE", "hasPhoto": false, "hasContact": false}, {"at": "2026-04-18T02:29:57.985Z", "chatId": 7260765133, "text": "📍 Мой статус", "callbackData": "", "hasPhoto": false, "hasContact": false}, {"at": "2026-04-18T02:53:23.331Z", "chatId": 7260765133, "text": "/start", "callbackData": "", "hasPhoto": false, "hasContact": false}, {"at": "2026-04-18T02:53:29.135Z", "chatId": 7260765133, "text": "🔄 Начать заново", "callbackData": "", "hasPhoto": false, "hasContact": false}, {"at": "2026-04-18T02:53:32.719Z", "chatId": 7260765133, "text": "", "callbackData": "START_PURCHASE", "hasPhoto": false, "hasContact": false}, {"at": "2026-04-18T02:53:36.108Z", "chatId": 7260765133, "text": "", "callbackData": "SUB_CONFIRMED", "hasPhoto": false, "hasContact": false}, {"at": "2026-04-18T02:53:52.309Z", "chatId": 7260765133, "text": "444444444444", "callbackData": "", "hasPhoto": false, "hasContact": false}, {"at": "2026-04-18T03:02:09.322Z", "chatId": -1003989386408, "text": "▶️ Продолжить", "callbackData": "", "hasPhoto": false, "hasContact": false}, {"at": "2026-04-18T04:10:45.071Z", "chatId": 7260765133, "text": "/start", "callbackData": "", "hasPhoto": false, "hasContact": false}, {"at": "2026-04-18T04:10:56.254Z", "chatId": 7260765133, "text": "", "callbackData": "START_PURCHASE", "hasPhoto": false, "hasContact": false}, {"at": "2026-04-18T04:11:10.180Z", "chatId": 7260765133, "text": "", "callbackData": "SUB_CONFIRMED", "hasPhoto": false, "hasContact": false}, {"at": "2026-04-18T04:11:16.990Z", "chatId": 7260765133, "text": "2222222222222", "callbackData": "", "hasPhoto": false, "hasContact": false}, {"at": "2026-04-18T04:11:35.583Z", "chatId": 7260765133, "text": "", "callbackData": "", "hasPhoto": false, "hasContact": true}, {"at": "2026-04-18T04:11:41.253Z", "chatId": 7260765133, "text": "VIP: 1+2+5 варежек (11000 руб.)", "callbackData": "", "hasPhoto": false, "hasContact": false}, {"at": "2026-04-18T04:11:54.441Z", "chatId": 7260765133, "text": "", "callbackData": "", "hasPhoto": true, "hasContact": false}, {"at": "2026-04-18T04:12:14.350Z", "chatId": -1003989386408, "text": "", "callbackData": "APPROVE|smo3tlvswtko6", "hasPhoto": false, "hasContact": false}, {"at": "2026-04-18T04:13:20.606Z", "chatId": 7260765133, "text": "📍 Мой статус", "callbackData": "", "hasPhoto": false, "hasContact": false}, {"at": "2026-04-18T04:38:55.336Z", "chatId": 7260765133, "text": "/start", "callbackData": "", "hasPhoto": false, "hasContact": false}, {"at": "2026-04-18T04:38:57.887Z", "chatId": 7260765133, "text": "", "callbackData": "START_PURCHASE", "hasPhoto": false, "hasContact": false}, {"at": "2026-04-18T04:39:08.242Z", "chatId": 7260765133, "text": "", "callbackData": "SUB_CONFIRMED", "hasPhoto": false, "hasContact": false}, {"at": "2026-04-18T04:39:16.475Z", "chatId": 7260765133, "text": "", "callbackData": "", "hasPhoto": false, "hasContact": true}, {"at": "2026-04-18T04:39:18.020Z", "chatId": 7260765133, "text": "VIP: 1+2+5 варежек (11000 руб.)", "callbackData": "", "hasPhoto": false, "hasContact": false}, {"at": "2026-04-18T04:39:41.649Z", "chatId": 7260765133, "text": "", "callbackData": "", "hasPhoto": true, "hasContact": false}, {"at": "2026-04-18T04:39:54.226Z", "chatId": 7260765133, "text": "📍 Мой статус", "callbackData": "", "hasPhoto": false, "hasContact": false}, {"at": "2026-04-18T05:02:35.914Z", "chatId": 7260765133, "text": "/start", "callbackData": "", "hasPhoto": false, "hasContact": false}, {"at": "2026-04-18T05:05:00.434Z", "chatId": 7260765133, "text": "🎁 Получить бонусы", "callbackData": "", "hasPhoto": false, "hasContact": false}, {"at": "2026-04-18T05:05:02.545Z", "chatId": 7260765133, "text": "", "callbackData": "SUB_CONFIRMED", "hasPhoto": false, "hasContact": false}, {"at": "2026-04-18T05:05:06.101Z", "chatId": 7260765133, "text": "", "callbackData": "", "hasPhoto": false, "hasContact": true}, {"at": "2026-04-18T05:05:08.054Z", "chatId": 7260765133, "text": "VIP: 1+2+5 варежек (11000 руб.)", "callbackData": "", "hasPhoto": false, "hasContact": false}, {"at": "2026-04-18T05:05:33.275Z", "chatId": 7260765133, "text": "", "callbackData": "", "hasPhoto": true, "hasContact": false}, {"at": "2026-04-18T05:05:47.596Z", "chatId": 7260765133, "text": "📍 Мой статус", "callbackData": "", "hasPhoto": false, "hasContact": false}, {"at": "2026-04-18T05:06:00.856Z", "chatId": -1003989386408, "text": "", "callbackData": "APPROVE|smo3vivfhxkm7", "hasPhoto": false, "hasContact": false}, {"at": "2026-04-18T05:06:17.910Z", "chatId": -1003989386408, "text": "", "callbackData": "APPROVE|smo3vivfhxkm7", "hasPhoto": false, "hasContact": false}, {"at": "2026-04-18T05:06:38.409Z", "chatId": 7260765133, "text": "📍 Мой статус", "callbackData": "", "hasPhoto": false, "hasContact": false}, {"at": "2026-04-18T05:06:54.660Z", "chatId": 7260765133, "text": "🎁 Получить бонусы", "callbackData": "", "hasPhoto": false, "hasContact": false}, {"at": "2026-04-18T05:06:59.436Z", "chatId": 7260765133, "text": "", "callbackData": "SUB_CONFIRMED", "hasPhoto": false, "hasContact": false}, {"at": "2026-04-18T05:07:03.372Z", "chatId": 7260765133, "text": "", "callbackData": "", "hasPhoto": false, "hasContact": true}, {"at": "2026-04-18T05:07:07.536Z", "chatId": 7260765133, "text": "1 варежка (3000 руб.)", "callbackData": "", "hasPhoto": false, "hasContact": false}, {"at": "2026-04-18T05:07:42.563Z", "chatId": 7260765133, "text": "", "callbackData": "", "hasPhoto": true, "hasContact": false}, {"at": "2026-04-19T07:22:38.475Z", "chatId": 7260765133, "text": "🔄 Начать заново", "callbackData": "", "hasPhoto": false, "hasContact": false}, {"at": "2026-04-19T07:22:59.503Z", "chatId": 7260765133, "text": "🔄 Начать заново", "callbackData": "", "hasPhoto": false, "hasContact": false}, {"at": "2026-04-19T07:23:03.505Z", "chatId": 7260765133, "text": "", "callbackData": "START_PURCHASE", "hasPhoto": false, "hasContact": false}, {"at": "2026-04-19T07:23:09.521Z", "chatId": 7260765133, "text": "", "callbackData": "SUB_CONFIRMED", "hasPhoto": false, "hasContact": false}, {"at": "2026-04-19T07:23:18.351Z", "chatId": 7260765133, "text": "", "callbackData": "", "hasPhoto": false, "hasContact": true}, {"at": "2026-04-19T07:23:20.131Z", "chatId": 7260765133, "text": "VIP: 1+2+5 варежек (11000 руб.)", "callbackData": "", "hasPhoto": false, "hasContact": false}, {"at": "2026-04-19T07:31:45.920Z", "chatId": 6015759217, "text": "🎁 Получить бонусы", "callbackData": "", "hasPhoto": false, "hasContact": false}, {"at": "2026-04-19T07:32:07.419Z", "chatId": 6015759217, "text": "", "callbackData": "SUB_CONFIRMED", "hasPhoto": false, "hasContact": false}, {"at": "2026-04-19T07:32:12.762Z", "chatId": 6015759217, "text": "", "callbackData": "", "hasPhoto": false, "hasContact": true}, {"at": "2026-04-19T07:32:17.426Z", "chatId": 6015759217, "text": "1 варежка (3000 руб.)", "callbackData": "", "hasPhoto": false, "hasContact": false}, {"at": "2026-04-19T07:32:30.008Z", "chatId": 6015759217, "text": "", "callbackData": "", "hasPhoto": true, "hasContact": false}, {"at": "2026-04-19T07:32:54.628Z", "chatId": -1003989386408, "text": "", "callbackData": "APPROVE|smo5g7p4eoh1p", "hasPhoto": false, "hasContact": false}, {"at": "2026-04-19T07:33:11.577Z", "chatId": -1003989386408, "text": "", "callbackData": "APPROVE|smo5g7p4eoh1p", "hasPhoto": false, "hasContact": false}], "payments": {}}, "node:Warmup Cron": {"recurrenceRules": []}}, "meta": {"templateCredsSetupCompleted": true}, "pinData": {}, "versionId": "2467b0ce-aef4-4c6a-94eb-c525d24d98b3", "activeVersionId": null, "versionCounter": 1457, "triggerCount": 3, "shared": [{"updatedAt": "2026-04-15T21:56:02.785Z", "createdAt": "2026-04-15T21:56:02.785Z", "role": "workflow:owner", "workflowId": "PPEqeFBIBV19CEds", "projectId": "fZd4cJnI1xKOyWbC", "project": {"updatedAt": "2026-04-08T17:21:08.972Z", "createdAt": "2026-04-08T17:19:05.229Z", "id": "fZd4cJnI1xKOyWbC", "name": "Felix Shat.pomoshnik <shat.pomoshnik@gmail.com>", "type": "personal", "icon": null, "description": null, "creatorId": "55802ec1-883c-423d-bfdb-102763708b43"}}], "tags": [], "parentFolder": null, "activeVersion": null, "scopes": ["workflow:create", "workflow:delete", "workflow:execute", "workflow:execute-chat", "workflow:list", "workflow:move", "workflow:publish", "workflow:read", "workflow:share", "workflow:unpublish", "workflow:unshare", "workflow:update", "workflow:updateRedactionSetting"], "checksum": "94e658efabb8d2730214cf2976ed18455189ed874e75d614dc8a3224cbecad13"}